{% extends "registration/registration_base.html" %}

{% block content %}

    <form class="form-signin" role="form" action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}

        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="login-wrap">


            {% if form.errors %}
                <span class="text-error unstyled">{{ form.non_field_errors }}</span>
            {% endif %}

            <div class="user-login-info">
                {% if form.username.errors %}<span class="error">{{form.username.errors }}</span>{% endif %}
                <input name="username"  id="username" type="text" class="form-control" placeholder="Your username" required="" autofocus="">

                {% if form.password.errors %}{{form.password.errors}}{% endif %}
                <input name="password" value="" id="password" type="password" class="form-control" placeholder="Password" required="">
            </div>
            <a class="password" href="/password_reset/">forgot it?</a>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <div class="registration">
                Don't have an account yet?
                <a class="" href="registration.html">
                    Create an account
                </a>
            </div>
        </div>


    </form>




    </div>







{% endblock %}


