{% extends "base.html" %}


{% block content %}

       <div class="text-center">
      <h1>Green My Day Beta</h1>


      <p class="lead">Thank you for registering with Green My Day beta.  What next?</p>
        <br />
      <p>We have guessed your carbon footprint based on you living in {{ user.country }}.  If this is not correct you can adjust your footprint.</p>
        <br />
           <a href="/footprint/" class="btn btn-large  do_next">Check Footprint</a>
        <br />
                   <br />
      <p>You should recieve an email with a link to get 50kg of free carbon to get you started.</p>
        <br />
      <p>Or just dive in...</p>
      <a href="/" class="btn btn-large text-center" />Start Greening My Day</a>

    </div>

{% endblock %}