{% extends "base.html" %}
{% load bootstrap3 %}
{% block extra_head %}
    <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}js/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    {# TODO: better datetimepicker http://www.malot.fr/bootstrap-datetimepicker/#}
    {#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/bootstrap-datetimepicker/css/datetimepicker.css" />#}


    <style>
        .fc-header-title h2 {
            font-size: 90%;
        }
    </style>
{% endblock extra_head %}
{% block main %}


    <div class="container">
        <div class="row">


            <h1>New Booking</h1>
            <form id="booking" role="form" class="form-horizontal" action="" method="post">{% csrf_token %}
                {% bootstrap_form form %}
                {#            <div class="form-group"><a href="#" class="comment"  data-pk="{{ form.ref.value }}" data-value="">add comment</a></div>#}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Save
                    </button>
                {% endbuttons %}


            </form>




        </div>
    </div>


{% endblock main %}

{% block js %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.min.js"></script>
    {#    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script type="text/javascript">
        API = "{{ API_URL }}"

        $(document).ready(function () {

            init();


            // can't work out how to get ref hidden in django so do it here
            $("#id_ref").hide();

            // ON CHANGES

            // when client is selected, show rest of form
            $("#id_client").on("change", function() {
                update_dropdowns(this.value);
                $('.form-group').show();
            })



            $("#id_deadline").on("dp.change",function (e) {
                // when the deadline is set, the requested time can't be after the deadline
                var duration = parseInt($("#id_duration").val());
                var max_from = moment(e.date).subtract('minutes', duration);
                var max_to = moment(e.date);
                $('#id_requested_from').data("DateTimePicker").setMaxDate(max_from);
                $('#id_requested_from').data("DateTimePicker").setDate(max_from);
                $('#id_requested_to').data("DateTimePicker").setMaxDate(max_to);
                $('#id_requested_to').data("DateTimePicker").setDate(max_to);
            });

            $("#id_requested_from").on("dp.change",function (e) {
                var duration = parseInt($("#id_duration").val());
                var min_to = e.date.add('minutes', duration);
                $('#id_requested_to').data("DateTimePicker").setMinDate(min_to);
                $('#id_requested_to').data("DateTimePicker").setDate(min_to);
            });


            $("#id_deadline").on("dp.change",function (e) {
                $('#id_requested_to').data("DateTimePicker").setMaxDate(e.date);
            });



            $('#id_duration').on('change', function(e) {
                // increase from time
                var totime = $('#id_requested_to').data("DateTimePicker").getDate();
                var fromtime = totime.subtract('minutes', parseInt(this.value))
                $("#id_requested_from").data("DateTimePicker").setDate(fromtime);


            });

        });

        function init() {
            // when page is first loaded

            // hide everything except client
            $('.form-group').hide();
            $('.form-group:first').show();



            // HANDLE DATES

            var mindate = moment();
            var maxdate = moment().add('days', {{ MAX_BOOK_DAYS_IN_ADVANCE }});

            var dt_options = {
                useSeconds: false,
                format: 'YYYY-MM-DD HH:mm',
                minuteStepping:5,
                minDate:mindate,
                maxDate: maxdate,
                showToday: true,
                language:'en',
                sideBySide: true
            };

            $('#id_requested_from').datetimepicker(dt_options);

            $('#id_requested_to').datetimepicker(dt_options);

            $('#id_deadline').datetimepicker(dt_options);

            //TODO: If one location then use that
            //TODO: allow for entry of new locations and instruments






        }

        // HANDLE CLIENT SPECIFIC DATA
        function update_dropdowns(org_id) {

            // studios for this client
            $.ajax({
                type:"get",
                url:API+"studios",
                data: {client_id: org_id},
                dataType : 'json',
                success:function(data){


                    var select= '<select>';
                    var options = '';
                    $.each(data.objects, function(index, value) {
                        options += '<option value="' + value.id + '">' + value.name + '</option>';
                    });
                    select = select + options + '</select>';


                    $('#id_studio').html(select);



                }


            });

            // instruments for this client
            $.ajax({
                type:"get",
                url:API+"instruments",
                data: {client_id: org_id},
                dataType : 'json',
                success:function(data){

                    var select= '<select>';
                    var options = '';

                    $.each(data.objects, function(index, value) {
                        options += '<option value="' + value.id + '">' + value.name + '</option>';
                    });
                    select = select + options + '</select>';
                    $('#id_instrument').html(select);

                }
            });

        }


    </script>
{% endblock js %}