{% extends "base.html" %}
{% load bootstrap3 %}

{% block extra_head %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/clockin.css" rel="stylesheet"/>

    <style>
        .shout {
            font-size: 140%;
            color: white;
        }
        .input-block a{
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .fa {
            padding-right: 10px;
        }

        .chunk {
            padding: 15px;
        }

    </style>
{% endblock extra_head %}

{% block main %}


    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        {{ object.heading_long }}
                    </header>
                    <div class="panel-body">

                        <div class="alert alert-block shout booking_status_1 fade in">
                            <div class="alert alert-block shout booking_status_1 fade in">

                                {#                                <a href="#" id="sex" data-type="select" data-pk="1" data-value="" data-title="Select sex" class="editable editable-click" style="color: gray;" data-original-title="" title="">not selected</a>#}
                                {#                                #}
                                <a href="#" class="activities"
                                   data-pk="{{ object.ref }}"
                                   data-title="Activity"
                                   data-value="{{ object.activity.id }}"
                                   data-title="Activity">
                                    {{ default_activity }}</a>
                                <a href="#" class="instruments"
                                   data-pk="{{ object.ref }}"
                                   data-title="Instrument"
                                   data-value="{{ object.instrument.id }}">
                                    {{ default_instrument }}</a>
                                at
                                <a href="#" class="studios"
                                   data-pk="{{ object.ref }}"
                                   data-title="Studio"
                                   data-value="{{ object.studio.id }}">
                                    {{ default_studio }}</a>
                                on
                                <span id="when_date"

                                      data-value="{{ object.deadline|date:"Y-M-D" }} }}"

                                        >{{ when_date }}</span>
                                for session ref
                                <a href="#" class="clientref"
                                   data-pk="{{ object.ref }}"
                                   data-title="Reference"
                                   data-value="{{ object.client_ref }}">
                                    {{ client_ref }}</a>
                                that starts at
                                <span id="when_time" data-pk="{{ object.ref }}" >{{ when_time }}</span>

                            </div>

                        </div>
                </section>
            </div>

        </div>
    </div>

{% endblock main %}

{%  block js %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="{{ STATIC_URL }}js/clockin.js"></script>
    <script src="{{ STATIC_URL }}js/tuning_updates.js"></script>

    <script type="text/javascript">
        API = "{{ API_URL }}";

        $(document).ready(function () {

            init();
            update_events();  // in tuning_updates.js
            do_last();   // in base

        });

        function init() {
            // when page is first loaded



            // get list of activity and setup editable
            $.ajax({
                type:"get",
                url:API+"activities",
                dataType : 'json',
                success:function(data){

                    var objects = data.objects;
                    var list = [];
                    $.each(objects, function(i,d) {
                        list.push({value: d.id, text: d.name});
                    });

                    $('.activities').editable({
                        type: 'select',
                        mode: 'inline',
                        source: list,
                        sourceCache: true,
                        url: API + 'set_activity_booking/?format=json&limit=0',

                        success: function(response, newValue) {
                            if(response.status == 'error') return response.msg; //msg will be shown in editable form
                        }

                    });


                }
            });

            // get list of instruments and setup editable
            $.ajax({
                type:"get",
                url:API+"instruments",
                dataType : 'json',
                data: {client_id: {{object.client.id}} },
                success:function(data){

                    var objects = data.objects;
                    var list = [];
                    $.each(objects, function(i,d) {
                        list.push({value: d.id, text: d.name});
                    });

                    $('.instruments').editable({
                        type: 'select',
                        mode: 'inline',
                        source: list,
                        sourceCache: true,
                        url: API + 'set_instrument_booking/?format=json&limit=0',

                        success: function(response, newValue) {
                            if(response.status == 'error') return response.msg; //msg will be shown in editable form
                        }

                    });


                }
            });

            // get list of instruments and setup editable
            $.ajax({
                type:"get",
                url:API+"studios",
                dataType : 'json',
                data: {client_id: {{object.client.id}} },
                success:function(data){

                    var objects = data.objects;
                    var list = [];
                    $.each(objects, function(i,d) {
                        list.push({value: d.id, text: d.name});
                    });

                    $('.studios').editable({
                        type: 'select',
                        mode: 'inline',
                        source: list,
                        sourceCache: true,
                        url: API + 'set_studio_booking/?format=json&limit=0',

                        success: function(response, newValue) {
                            if(response.status == 'error') return response.msg; //msg will be shown in editable form
                        }
                    });


                }
            });


            // edit date

            {#            $('.when_date').editable({#}
            {#                type: 'combodate',#}
            {#                mode: 'inline',#}
            {#                url: API + 'set_deadline_booking/?format=json&limit=0',#}
            {##}
            {#                success: function(response, newValue) {#}
            {#                    if(response.status == 'error') return response.msg; //msg will be shown in editable form#}
            {#                }#}
            {#            });#}

            //TODO: not working - shows calendar before clicking
            $("#when_date").datepicker({
                format: "dd/mm",
                startDate: "{{ NOW|date:"d/m/Y" }}",
                endDate: "{{ MAX_DATE|date:"d/m/Y" }}",
                todayHighlight: true
            });
            $('#when_time').clockin();


// session ref
            $('.clientref').editable({
                type: 'text',
                mode: 'inline',
                url: API + 'set_clientref_booking/?format=json&limit=0',

                success: function(response, newValue) {
                    if(response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });



            // get list of tuners
            $.ajax({
                type:"get",
                url:API+"tuners",
                dataType : 'json',
                success:function(data){

                    var tuners = data.objects;
                    var tuners_list = [];
                    $.each(tuners, function(i,d) {
                        tuners_list.push({value: d.id, text: d.name});
                    });

                    $('.tuners').editable({
                        type: 'select',
                        source: tuners_list,
                        sourceCache: true,
                        url: API + 'accept_booking/?format=json&limit=0',

                        success: function(response, newValue) {
                            if(response.status == 'error') return response.msg; //msg will be shown in editable form
                        },
                        title: 'Select Tuner'
                    });


                }
            });


        }


    </script>
{% endblock js %}