{% load tunertags %}
???? NOT USED - TELL PHOEBE IF YOU SEE THIS MESSAGE

{% verbatim %}
<script id="tuner_edit" type="x-tmpl-mustache">
          <a href="#" id="field_tuner" class="editable tuners"
       data-title="Tuner"
       data-value="{{ tuner.id }}"
       data-title="Tuner">
        {{ default_tuner }}</a>
</script>
<script id="tuner_view" type="x-tmpl-mustache">
          <span id="field_tuner" class="tuners"
       data-value="{{ tuner.id }}">
        {{ tuner }}
        </span>
</script>

<script id="activity_edit" type="x-tmpl-mustache">
    <a href="#" id="field_activity" class="editable activities"
       data-title="Activity"
       data-value="{{ activity.id }}"
       data-title="Activity">
        {{ default_activity }}</a>
</script>
<script id="activity_view" type="x-tmpl-mustache">
          <span id="field_activity" class="activities"
       data-value="{{ activity.id }}">
        {{ activity }}
        </span>
</script>

<script id="instrument_edit" type="x-tmpl-mustache">
    <a href="#" id="field_instrument" class="editable instruments"
       data-title="Instrument"
       data-value="{{ instrument.id }}">
        {{ instrument.name }}</a>
</script>
<script id="instrument_view" type="x-tmpl-mustache">
          <span id="field_instrument" class="instruments"
       data-value="{{ instrument.id }}">
        {{ instrument.name }}
        </span>
</script>

<script id="studio_edit" type="x-tmpl-mustache">
    <a href="#" id="field_studio" class="editable studios"
       data-title="Studio"
       data-value="{{ studio.id }}">
        {{ default_studio }}</a>
</script>
<script id="studio_view" type="x-tmpl-mustache">
          <span id="field_studio" class="studios"
       data-value="{{ studio.id }}">
        {{ studio.name }}
        </span>
</script>

<script id="deadline_edit" type="x-tmpl-mustache">
  <a href="#" id="field_deadline_time" class="editable when_time" data-value="{{ deadline }}">
  {{ deadline }}</a>

</script>
<script id="deadline_view" type="x-tmpl-mustache">
          <span id="field_deadline_time" class="when_time"
                   data-value="{{ deadline }}">
        {{ deadline }}
        </span>
</script>

{% endverbatim %}

<h3 class="editable_title">
    <span id="field_activity_name">Booking</span>
    for
    <span id="field_client_name">{{ object.client }}</span>
    on
    <span id="field_deadline_date" data-value="{{ object.deadline|date:"Y-m-d" }}">{{ object.deadline }}</span>
    (
    <span id="field_ref">{{ object.ref }}</span>
    )
</h3>
<div id="editform" class="editable_content" data-eventid="">

    <span id="tuner_box"></span>
    &nbsp;&nbsp;

    <span id="activity_box"></span>
    &nbsp;

    <span id="instrument_box"></span>    &nbsp;&nbsp;


    at <span id="studio_box"></span>    &nbsp;&nbsp;


    for session beginning at  <span id="deadline_box"></span>


    with reference
    <a href="#" id="field_client_ref" class="editable clientref"
       data-pk="{{ object.ref }}"
       data-title="Reference"
       data-value="{{ object.client_ref }}">
        {{ default_client_ref }}</a>
    <br />

    To start at
    <a href="#" id="field_requested_time" class="editable when_time" data-pk="{{ object.ref }}" >{{ requested_time }}</a>
    duration
    <a href="#" id="field_duration" class="editable duration"
       data-pk="{{ object.ref }}"
       data-title="Duration in Mins"
       data-value="{{ object.duration }}"
       data-title="Duration">
        {{ default_duration }}</a>&nbsp;mins&nbsp;

    booked by
    <a href="#" id="field_booker" class="editable booker"
       data-pk="{{ object.ref }}"
       data-title="Booker"
       data-value="{{ object.booker.id }}"
       data-title="Booker">
        {{ default_booker }}</a>


    price £
    <a href="#" id="field_price" class="editable price"
       data-pk="{{ object.ref }}"
       data-title="Price"
       data-value="{{ object.price }}"
       data-title="Price">
        {{ default_price }}</a>





<span class="pull-right">

    {% if object.status == '0' %}
        <button id="editable_save" type="button" class="btn btn-success" >Create Booking</button>
        <button id="editable_cancel" type="button" class="btn btn-warning" >Forget</button>
    {% endif %}

    {% if object.status == '1'  %}
        <button id="editable_done" type="button" class="btn btn-success" >Done</button>
        <button id="editable_cancel" type="button" class="btn btn-warning" >Cancel Booking</button>
    {% endif %}


    {% if object.status == '2' %}
        <button id="editable_complete" type="button" class="btn btn-success" >Booking Completed</button>
        <button id="editable_cancel" type="button" class="btn btn-warning" >Cancel Booking</button>
    {% endif %}

</span>
</div>

{##}
{#on#}
{#                                <span id="when_date"#}
{##}
{#                                      data-value="{{ object.deadline|date:"Y-M-D" }} }}"#}
{##}
{#                                        >{{ when_date }}</span>#}