{% extends "base.html" %}
{% load bootstrap3 %}

{% block extra_head %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

    <style>
        .shout {
            font-size: 140%;
            color: white;
        }
        .input-block a{
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .fa {
            padding-right: 10px;
        }

        .chunk {
            padding: 15px;
        }

    </style>
{% endblock extra_head %}

{% block main %}


    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        {{ object.heading_long }}
                    </header>
                    <div class="panel-body">

                        <div class="alert alert-block shout booking_status_{{ object.status }} fade in">{{ object.description|safe }}</div>

                    </div>
                </section>
            </div>

            <div class="col-sm-4">
                <section class="panel">
                    <header class="panel-heading">
                        {{ object.short_heading }} History
                    </header>

                    <div class="panel-body">

                        <div class="row">
                            <div class="chunk">
                                <i class="fa booking_status_1_icon"></i>Requested by <strong>{{ object.booker }}</strong><span class="label pull-right booking_status_1">{{ object.requested_at }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="chunk">
                                {%  if object.status == '1' %}

                                    <i class="fa booking_status_3_icon"></i>Assign Tuner &nbsp;&nbsp:<strong><span class="label pull-right booking_status_3"></span><a href="#" class="tuners" data-pk="{{ object.ref }}">?</a></strong>

                                {%  else  %}
                                    <i class="fa booking_status_3_icon"></i>Tuner <strong>{{ object.tuner }}</strong><span class="label pull-right booking_status_3">{{ object.booked_at }}</span>
                                {%  endif %}
                            </div>
                        </div>


                        {%  if object.status == '4' %}
                            <div class="row">
                                <div class="chunk">

                                    <i class="fa booking_status_4_icon"></i>Mark as Complete
                                    <span class="label pull-right booking_status_3">
                               <input type="checkbox" class="switch switch_complete" data-text-label="Tuned" data-on=null, data-off=success data-on-label="No" data-off-label="Yes" checked id="complete_{{ object_ref }}" data-pk="{{ object.ref }}" /></span>

                                </div>
                            </div>
                        {%  endif %}

                        {%  if object.status >= '5' %}
                            {%  if not object.cancelled %}
                                <div class="row">
                                    <div class="chunk">
                                        <i class="fa booking_status_4_icon"></i>Tuned by <strong>{{ object.tuner }}</strong><span class="label pull-right booking_status_4">{{ object.completed_at }}</span>
                                    </div>
                                </div>
                            {% endif %}


                            {%  if object.has_provider_paid %}
                                <div class="row">
                                    <div class="chunk">
                                        <i class="fa booking_status_5_icon"></i>Tuner Paid <span class="label pull-right booking_status_6">{{ object.paid_provider_at }}</span>
                                    </div>
                                </div>
                            {% else %}
                                {%  if not object.cancelled %}
                                    <div class="row">
                                        <div class="chunk">
                                            <i class="fa booking_status_5_icon"></i>Pay Tuner
                                            <span class="label pull-right booking_status_6">
                                                <input type="checkbox" class="switch switch_tuner" data-text-label="Paid" data-on=null, data-off=success data-on-label="No" data-off-label="Yes" checked id="tuner_paid_{{ object_ref }}" data-pk="{{ object.ref }}" />
                                            </span>
                                        </div>
                                    </div>
                                {% endif %}
                            {%  endif %}



                            {%  if  object.has_client_paid %}
                                <div class="row">
                                    <div class="chunk">
                                        <i class="fa booking_status_5_icon"></i>Client Paid <span class="label pull-right booking_status_6">{{ object.paid_client_at }}</span>
                                    </div>
                                </div>
                            {% else %}
                                {%  if not object.cancelled %}
                                    <div class="row">
                                        <div class="chunk">
                                            <i class="fa booking_status_5_icon"></i>Client Paid
                                            <span class="label pull-right booking_status_6"></li>
                                                <input type="checkbox" class="switch switch_client" data-text-label="Paid" data-on=null, data-off=success data-on-label="No" data-off-label="Yes" checked id="client_paid_{{ object_ref }}" data-pk="{{ object.ref }}" /></span>
                                        </div>
                                    </div>
                                {%  endif %}
                            {% endif %}
                        {% endif %}


                        {%  if object.status == '9'  %}
                            <div class="row">
                                <div class="chunk">
                                    <i class="fa booking_status_9_icon"></i>Archived<span class="label pull-right booking_status_9">{{ object.archived_at }}</span>
                                </div>
                            </div>
                        {%  endif %}
                        {%  if object.status == '8'  %}
                            <div class="row">
                                <div class="chunk">
                                    <i class="fa booking_status_8_icon"></i>Cancelled<span class="label pull-right booking_status_8">{{ object.cancelled_at }}</span>
                                </div>
                            </div>
                        {%  endif %}

                    </div>
                </section>



            </div>
            <div class="col-sm-8">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        Details
                    </header>

                    <div class="panel-body">

                        <p>Client: {{ object.client }}</p>
                        <p>Session Ref: {{ object.session_ref }}</p>
                        <p>Session Deadline: {{ object.deadline }}</p>

                        <p>Tuning to start at: {{ object.start_time }}</p>
                        {% if object.status < '5' %}
                            <button type="button" class="btn btn-danger cancel_booking" data-pk="{{ object.ref }}">Cancel Booking</button>
                        {% endif %}
                    </div>

                </section>


                <section class="panel">
                    <header class="panel-heading wht-bg">
                        Comments
                        <a href="#" class="comment btn btn-primary fa fa-pencil pull-right"  data-pk="{{ object.ref }}" data-value="">Comment</a>
                    </header>

                    <div class="panel-body">


                        <div class="comment_list" data-pk="{{ object.ref }}"></div>

                    </div>



                </section>


            </div>
        </div>
    </div>

{% endblock main %}

{%  block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="{{ STATIC_URL }}js/tuning_updates.js"></script>

    <script type="text/javascript">
        API = "{{ API_URL }}";

        $(document).ready(function () {

            init();
            update_events();  // in tuning_updates.js
            do_last();   // in base

        });

        function init() {
            // when page is first loaded

            // get list of tuners
            $.ajax({
                type:"get",
                url:API+"tuners",
                dataType : 'json',
                success:function(data){

                    var tuners = data.objects;
                    var tuners_list = [];
                    $.each(tuners, function(i,d) {
                        tuners_list.push({value: d.id, text: d.name});
                    });

                    $('.tuners').editable({
                        type: 'select',
                        source: tuners_list,
                        sourceCache: true,
                        url: API + 'accept_booking/?format=json&limit=0',

                        success: function(response, newValue) {
                            if(response.status == 'error') return response.msg; //msg will be shown in editable form
                        },
                        title: 'Select Tuner'
                    });


                }
            });


        }


    </script>
{% endblock js %}