{#{% load tz %}#}
{##}
{#{% timezone "Europe/Paris" %}#}
{#    Paris time: {{ value }}#}
{#{% endtimezone %}#}



<h3 class="editable_title">
    <span id="field_activity_name">Booking</span>
    for
    <span id="field_client_name">{{ object.client }}</span>
    on
    <span id="field_deadline_date" data-value="{{ object.deadline|date:"Y-m-d" }}">{{ object.deadline }}</span>
    (
    <span id="field_ref">{{ object.ref }}</span>
    )
</h3>
<div id="editform" class="editable_content" data-eventid="">
    <div id="booking_description">
        NOT USED - tuner cannot edit, so booking description is put in here in load_data function


<span id="button_row" class="pull-right">




{% include "web/button_bar.html" %}



</span>


    </div>

</div>






