{% extends "base.html" %}
{% load tunertags %}

{% block extra_head %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/clockin.css" rel="stylesheet"/>

    <style>
        .shout {
            font-size: 140%;
            color: white;
        }
        .input-block a{
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .fa {
            padding-right: 10px;
        }

        .chunk {
            padding: 15px;
        }


        #map_canvas {
            width: 350px;
            height: 250px;
        }

        #button_bar {
            margin-bottom:20px;
        }
    </style>
{% endblock extra_head %}

{% block main %}


    <div class="container">
        <div id="booking_row" class="row" style="display:none;">
            <div class="col-sm-12">
                <section class="panel">
                    <div id="booking_edit" class="panel-body booking_status_1">
                        {%  include "web/booking_editable_template.html" with user=user object=object %}
                    </div>
                </section>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading">
                        {{ object.short_heading }} History
                    </header>

                    <div class="panel-body">

                        <div class="row">
                            <div class="chunk">
                                <i class="fa booking_status_1_icon"></i>Requested by <strong>{{ object.booker }}</strong><span class="label pull-right booking_status_1">{{ object.requested_at }}</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="chunk">
                                {%  if object.status >= '1' %}

                                    <i class="fa booking_status_3_icon"></i>Booked <strong>{{ object.tuner }}</strong><span class="label pull-right booking_status_3">{{ object.booked_at }}</span>
                                {%  endif %}
                            </div>
                        </div>


                        {%  if object.status >= '5' %}
                            {%  if not object.cancelled %}
                                <div class="row">
                                    <div class="chunk">
                                        <i class="fa booking_status_4_icon"></i>Tuned by <strong>{{ object.tuner }}</strong><span class="label pull-right booking_status_4">{{ object.completed_at }}</span>
                                    </div>
                                </div>
                            {% endif %}

                            {% if user.is_admin %}
                                {%  if object.has_provider_paid %}
                                    <div class="row">
                                        <div class="chunk">
                                            <i class="fa booking_status_5_icon"></i>Tuner Paid <span class="label pull-right booking_status_6">{{ object.paid_provider_at }}</span>
                                        </div>
                                    </div>

                                {%  endif %}
                            {%  endif %}


                            {%  if user.is_admin or user.is_booker %}
                                {%  if  object.has_client_paid %}
                                    <div class="row">
                                        <div class="chunk">
                                            <i class="fa booking_status_5_icon"></i>Client Paid <span class="label pull-right booking_status_6">{{ object.paid_client_at }}</span>
                                        </div>
                                    </div>


                                {% endif %}
                            {% endif %}
                        {% endif %}


                        {%  if object.status == '9'  %}
                            <div class="row">
                                <div class="chunk">
                                    <i class="fa booking_status_9_icon"></i>Archived<span class="label pull-right booking_status_9">{{ object.archived_at }}</span>
                                </div>
                            </div>
                        {%  endif %}
                        {%  if object.status == '8'  %}
                            <div class="row">
                                <div class="chunk">
                                    <i class="fa booking_status_8_icon"></i>Cancelled<span class="label pull-right booking_status_8">{{ object.cancelled_at }}</span>
                                </div>
                            </div>
                        {%  endif %}


                    </div>



                </section>




            </div>

            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        Location
                    </header>

                    <div class="panel-body">
                        <div id="map_canvas"></div>
                    </div>

                </section>
            </div>


        </div>

        <div id="booking_row" class="row" style="display:none;">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <div id="booking_edit" class="panel-body booking_status_1">
                            {%  include "web/booking_editable_template.html" with user=user object=object %}
                        </div>
                    </header>

                    <div class="panel-body">


                        <div class="comment_list" data-pk="{{ object.ref }}" data-type="user"></div>

                    </div>


                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        Comments
                        <a href="#" class="comment btn btn-primary fa fa-pencil pull-right"  data-pk="{{ object.ref }}" data-value="">Comment</a>
                    </header>

                    <div class="panel-body">


                        <div class="comment_list" data-pk="{{ object.ref }}" data-type="user"></div>

                    </div>



                </section>

            </div>
        </div>
    </div>


{% endblock main %}

{%  block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="{{ STATIC_URL }}js/tuning_updates.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="{{ STATIC_URL }}js/clockin.js"></script>

    <script type="text/javascript">
        API = "{{ API_URL }}";

        $(document).ready(function () {

            init();
            add_form_events();  // in tuning_updates.js

            // get comments and add box to add comments
            $(".comment_list").slideDown();
            add_comment_editable();
            add_comment_list();

            do_last();   // in base

        });

        function init() {
            // when page is first loaded

            // populate editable template
            load_booking("{{ object.ref }}");


        }

        function init_map() {
            // init map
            var map_canvas = document.getElementById('map_canvas');
            var location = new google.maps.LatLng({{ object.studio.lat}}, {{ object.studio.lon}});
            var map_options = {
                center: location,
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
            var map = new google.maps.Map(map_canvas, map_options)

            var marker = new google.maps.Marker({
                position: location,
                map: map,
                title: '{{ object.studio }}'
            });
        }

        google.maps.event.addDomListener(window, 'load', init_map);

        function redraw(ref, json) {
            // override redraw in tuning_updates.js as just want to reload page
            location.reload();

        }

    </script>
{% endblock js %}