{% extends "base.html" %}

{% block extra_head %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/clockin.css" rel="stylesheet"/>

    <style>
        .shout {
            font-size: 140%;
            color: white;
        }
        .input-block a{
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .fa {
            padding-right: 10px;
        }

        .chunk {
            padding: 15px;
        }

    </style>
{% endblock extra_head %}

{% block main %}


    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        {{ object.heading_long }}
                    </header>
                    <div class="panel-body">

                        <div class="alert alert-block shout booking_status_1 fade in">
                            <div class="alert alert-block shout booking_status_1 fade in">

                                {#                                <a href="#" id="sex" data-type="select" data-pk="1" data-value="" data-title="Select sex" class="editable editable-click" style="color: gray;" data-original-title="" title="">not selected</a>#}
                                {#                                #}
                               {% include "web/booking_editable_template.html" %}

                            </div>

                        </div>
                </section>
            </div>

        </div>
    </div>

{% endblock main %}

{%  block js %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="{{ STATIC_URL }}js/clockin.js"></script>
    <script src="{{ STATIC_URL }}js/tuning_updates.js"></script>

    <script type="text/javascript">
        API = "{{ API_URL }}";

        $(document).ready(function () {

            init();
            update_events();  // in tuning_updates.js
            do_last();   // in base

        });


        function init() {
            load_data({{ object.client_id }}, "{{ NOW|date:"d/m/Y" }}","{{ MAX_DATE|date:"d/m/Y" }}");
        }

    </script>
{% endblock js %}