{#{% load tz %}#}
{##}
{#{% timezone "Europe/Paris" %}#}
{#    Paris time: {{ value }}#}
{#{% endtimezone %}#}



<h3 class="editable_title">
    <span id="field_activity_name">Booking</span>
    for
    <span id="field_client_name">{{ object.client }}</span>
    on
    <span id="field_deadline_date" data-value="{{ object.deadline|date:"Y-m-d" }}">{{ object.deadline }}</span>
    (
    <span id="field_ref">{{ object.ref }}</span>
    )
</h3>
<div id="editform" class="editable_content" data-eventid="">

    {% if object.status >= '0' %}
        <a href="#" id="field_tuner" class="editable tuners"
           data-pk="{{ object.ref }}"
           data-title="Tuner"
           data-value="{{ object.tuner.id }}"
           data-title="Tuner">
            {{ default_tuner }}</a>
        &nbsp;to&nbsp;
    {% endif %}

    <a href="#" id="field_activity" class="editable activities"
       data-pk="{{ object.ref }}"
       data-title="Activity"
       data-value="{{ object.activity.id }}"
       data-title="Activity">
        {{ default_activity }}</a>
    &nbsp;
    <a href="#" id="field_instrument" class="editable instruments"
       data-pk="{{ object.ref }}"
       data-title="Instrument"
       data-value="{{ object.instrument.id }}">
        {{ default_instrument }}</a>
    &nbsp;at&nbsp;
    <a href="#" id="field_studio" class="editable studios"
       data-pk="{{ object.ref }}"
       data-title="Studio"
       data-value="{{ object.studio.id }}">
        {{ default_studio }}</a>

    for session beginning at
    {% if object.status < '2' %}
        <a href="#" id="field_deadline_time" class="editable when_time"
           data-pk="{{ object.ref }}"
           data-date="{{ object.deadline|date:"Y-m-d" }}"
                >{{ deadline_time }}</a>
    {% else %}
        <span id="field_deadline_time" >{ deadline_time }}</span>
    {% endif %}

    with reference
    <a href="#" id="field_client_ref" class="editable clientref"
       data-pk="{{ object.ref }}"
       data-title="Reference"
       data-value="{% if object.client_ref %}{{ object.client_ref }}{% endif %}">
        {{ default_client_ref }}</a>

    to start
    <a href="#" id="field_requested_time" class="editable when_time"
       data-pk="{{ object.ref }}"
       data-date="{{ object.requested_from|date:"Y-m-d" }}"
            >{{ requested_time }}</a>
    duration
    <a href="#" id="field_duration" class="editable duration"
       data-pk="{{ object.ref }}"
       data-title="Duration in Mins"
       data-value="{{ object.duration }}"
       data-title="Duration">
        {{ default_duration }}</a>&nbsp;mins&nbsp;

    booked by
    <a href="#" id="field_booker" class="editable booker"
       data-pk="{{ object.ref }}"
       data-title="Booker"
       data-value="{{ object.booker.id }}"
       data-title="Booker">
        {{ default_booker }}</a>


    price £
    <a href="#" id="field_price" class="editable price"
       data-pk="{{ object.ref }}"
       data-title="Price"
       data-value="{{ object.price }}"
       data-title="Price">
        {{ default_price }}</a>





<span id="button_row" class="pull-right">



{% include "web/button_bar.html" %}





</span>
</div>
