{% extends "base.html" %}



{% block extra_head %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>

{% endblock extra_head %}

{% block main %}


    <div class="container">
        <div class="row">





            <section class="panel">
                <header class="panel-heading">
                    <h1>Tuning Completed Ref {{ object.ref }}</h1>
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                <a class="fa fa-cog" href="javascript:;"></a>
                                <a class="fa fa-times" href="javascript:;"></a>
                            </span>
                </header>

                <div class="alert alert-block booking_status_{{ object.status }} fade in">
                    Booking Status {{ object.get_status_display }}
                </div>

                <div class="panel-body">
                    <div class="row m-bot20">
                        <div class="col-md-5 col-xs-5">Client</div>
                        <div class="col-md-7 col-xs-7">
                            <span class="object">{{ object.client }}</span>
                        </div>
                    </div>

                    <div class="row m-bot20">
                        <div class="col-md-5 col-xs-5">Deadline</div>
                        <div class="col-md-7 col-xs-7">
                            <span class="object">{{ object.deadline }}</span>
                        </div>
                    </div>
                    <div class="row m-bot20">
                        <div class="col-md-5 col-xs-5">Session Ref</div>
                        <div class="col-md-7 col-xs-7">
                            <span class="object">{{ object.client_ref }}</span>
                        </div>
                    </div>

                    <div class="row m-bot20">
                        <div class="col-md-5 col-xs-5">Studio</div>
                        <div class="col-md-7 col-xs-7">
                            <span class="object">{{ object.studio }}</span>
                        </div>
                    </div>

                    <div class="row m-bot20">
                        <div class="col-md-5 col-xs-5">Instrument</div>
                        <div class="col-md-7 col-xs-7">
                            <span class="object">{{ object.instrument }}</span>
                        </div>
                    </div>
                </div>

            </section>
            <hr />
            {% render_comment_list for object %}
            {% render_comment_form for object %}

        </div>
    </div>


{% endblock main %}


{% block js %}
    <script type="text/javascript">
        API = "{{ API_URL }}"

        $(document).ready(function () {

            init();



        });

        function init() {
            // when page is first loaded



            // get list of tuners
            $.ajax({
                type:"get",
                url:API+"tuners",
                dataType : 'json',
                success:function(data){

                    var tuners = data.objects;
                    requested_bookings(tuners);

                }
            });


        }



        function requested_bookings(tuners) {

            var template = $('#add_comment_template').html();
            Mustache.parse(template);


            $.ajax({
                type:"get",
                url:API+"requested_bookings",
                data: {
                    limit:10},
                dataType : 'json',
                success:function(json){
                    data = new Array();
                    $.each(json.objects, function(i,d) {
                        d['togo'] = moment(d.when).fromNow()
                        d['when'] = moment(d.when).format('ddd Do MMM - HH:mm')
                        d['tuner'] = '<a href="#" class="tuners" data-pk="' + d['ref'] +'">?</a>';
                        d['comment'] =  Mustache.render(template, {ref: d.ref}) +
                                '<div class="comment_badge" data-pk="' + d.ref + '"></div>' +
                                '<div class="comment_list" data-pk="' + d.ref + '"></div>';

                        data.push(d)
                    })
                    build_table(data,
                            ["when", "tuner", "where", "what", "togo", "comment"],
                            "#requested_bookings");

                    var tuners_list = [];
                    $.each(tuners, function(i,d) {
                        tuners_list.push({value: d.id, text: d.name});
                    });

                    $('.tuners').editable({
                        type: 'select',
                        source: tuners_list,
                        sourceCache: true,
                        url: API + 'accept_booking/?format=json',

                        success: function(response, newValue) {
                            if(response.status == 'error') return response.msg; //msg will be shown in editable form
                        },
                        title: 'Select Tuner'
                    });

                }
            });
        }

        function build_table(json, cols, tableid) {




            // build table
            var body = $(tableid+" tbody");
            var rows = "";
            $.each(json, function (i, d) {

                var tr = '<tr class="' + d.status + '" data-id="'+d.ref+'">';

                $.each(cols, function(i,c){

                    tr += '<td class="name" >' + d[c] + '</td>';
                });
                rows += tr + '</tr>';
            });

            body.append(rows);

        }


    </script>
{% endblock js %}
