{% extends "base.html" %}

{% load comments %}



{% block extra_head %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    {#<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />#}
    {#<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>#}


{% endblock extra_head %}

{% block main %}


    <div class="container">
        <div class="row">


            <h1>Mark as Paid</h1>
            <div class="table-responsive">
                <h3>Payments</h3>
                <table id="providers" class="table  table-condensed">
                    <thead>
                    <tr>
                        <th>When</th>
                        <th>Who</th>
                        <th>Where</th>
                        <th>What</th>
                        <th>Paid</th>
                        <th >Comments</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>


            </div>

        </div>
    </div>


{% endblock main %}


{% block js %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.min.js"></script>

    <script src="{{ STATIC_URL }}js/tuning_updates.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script type="text/javascript">
        API = "{{ API_URL }}"

        $(document).ready(function () {

            init();



        });

        function init() {
            // when page is first loaded



            bookings_to_paid();


        }



        function bookings_to_paid() {


            $.ajax({
                type:"get",
                url:API+"bookings_to_paid",
                data: {
                    limit:0},
                dataType : 'json',
                success:function(json){

                    // put data in a table;
                    bookings_table(json);
                    update_events();
                    do_last();


                }
            });
        }

        function bookings_table(json) {
            /* populated list of bookings */

            var template = $('#add_comment_template').html();
            Mustache.parse(template);


            data = new Array();
            $.each(json.objects, function(i,d) {

                d['when'] = moment(d.when).format('ddd Do MMM - HH:mm')

                d['pay_provider'] = '<input type="checkbox" class="switch switch_tuner" data-text-label="Paid" data-on=null, data-off=success data-on-label="No" data-off-label="Yes" checked id="provider_' + d['ref'] + '" data-pk="' + d['ref'] +'">'
                // turn off if already paid
                if (d.paid_provider_at != null) {
                    d['pay_provider'] = d['pay_provider'].replace('checked', '');
                }
                d['pay_client'] = '<input type="checkbox" class="switch switch_client" data-text-label="Paid" data-on=null, data-off=success data-on-label="No" data-off-label="Yes" checked id="client_' + d['ref'] + '" data-pk="' + d['ref'] +'">'
                // turn off if already paid
                if (d.paid_client_at != null) {
                    d['pay_client'] = d['pay_client'].replace('checked', '');
                }
                d['comment'] =  Mustache.render(template, {ref: d.ref}) +
                        '<div class="comment_badge" data-pk="' + d.ref + '"></div>' +
                        '<div class="comment_list" data-pk="' + d.ref + '"></div>';
                data.push(d)
            })
            build_table(data,
                    ["when", "tuner", "where", "what","pay_provider","pay_client", "comment"],
                    "#providers");



            $(".datarow").on("dblclick", function(e) {

                document.location.href = "/booking/"+this.dataset['id'];
            });

        }
        function build_table(json, cols, tableid) {




            // build table
            var body = $(tableid+" tbody");
            var rows = "";
            $.each(json, function (i, d) {

                var tr = '<tr class="datarow booking_status_' + d.status + '" data-id="'+d.ref+'">';
                $.each(cols, function(i,c){

                    tr += '<td class="name" >' + d[c] + '</td>';
                });
                rows += tr + '</tr>';
            });

            body.append(rows);

        }


    </script>
{% endblock js %}
