{% extends "base.html" %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">

{% endblock extra_head %}
{% block content %}


    <div class="container">
        <div class="row">
            <div class="span6 pagination-centered">
                <h1>Booking</h1>
                <form id="booking" role="form" class="form-horizontal">{% csrf_token %}
                 {{ form }}




                    <button type="submit" id="make_booking"
                            class="btn btn-large btn-primary" type="button">Save</button>

                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"></script>


    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        API = "http://127.0.0.1:8000/api/v1/";

        $(document).ready(function () {

            $('#id_requested_from').datepicker({
    format: 'yyyy-mm-dd hh:ii'
});

            $('#id_requested_to').datepicker({
    format: 'mm-dd-yyyy'
});

           $('#from_date').on('change.bfhdatepicker', function(e) {
               //change hidden value
               var newdate = moment(this.value + $("#id_requested_from").val().substr(10), "DD-MM-YYYY HH:mm:SS");
               $("#id_requested_from").val(newdate.format('YYYY MM DD'));

               // if to date after new from date, change the date part of the to date to new from date
               // (read the code, it makes more sense!)
               var to_date = moment($("#id_requested_to").val(), "DD-MM-YYYY HH:mm:SS");

               if (to_date.isBefore(newdate)) {
                   $("#id_requested_from").val(newdate.format('YYYY MM DD'));
               }
            });

           $('#to_date').on('change.bfhdatepicker', function(e) {
               //change hidden value
               var newdate = moment(this.value + $("#id_requested_to").val().substr(10), "DD-MM-YYYY HH:mm:SS");
               $("#id_requested_to").val(newdate.format('YYYY MM DD'));
               $("#to_date").val(newdate.format('DD-MM-YYYY'))

            });


        });




    </script>
{% endblock js %}