{% extends "base.html" %}



{% block extra_head %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>



{% endblock extra_head %}

{% block main %}


    <div class="container">
        <div class="row">


            <h1>Assign Tuner</h1>
            <div class="table-responsive">
                <table id="requested_bookings" class="table table-condensed">
                    <thead>
                    <tr>
                        <th>When</th>
                        <th>Who</th>
                        <th>Where</th>
                        <th>What</th>
                        <th >To Go</th>



                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>


{% endblock main %}


{% block js %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.min.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {

            init();



        });

        function init() {
            // when page is first loaded

            var tuners = [];

            if (USER_TYPE == "admin") {
                // get list of tuners
                $.ajax({
                    type: "get",
                    url: API + "tuners",
                    dataType: 'json',
                    success: function (data) {

                        tuners = data.objects;


                    }
                });

            }

            requested_bookings(tuners);

        }



        function requested_bookings(tuners) {

            var template = $('#add_comment_template').html();
            Mustache.parse(template);


            $.ajax({
                type:"get",
                url:API+"requested_bookings",
                data: {
                    limit:0},
                dataType : 'json',
                success:function(json){
                    data = new Array();
                    $.each(json.objects, function(i,d) {
                        d['togo'] = moment(d.when).fromNow()
                        d['when'] = moment(d.when).format('ddd Do MMM - HH:mm')
                        d['tuner'] = '<a href="#" class="tuners" data-pk="' + d['ref'] +'">?</a>';
                        d['comment'] =  Mustache.render(template, {ref: d.ref}) +
                                '<div class="comment_badge" data-pk="' + d.ref + '"></div>' +
                                '<div class="comment_list" data-pk="' + d.ref + '"></div>';
                        data.push(d)
                    });

                    // build table of bookings

                    if (USER_TYPE == "admin") {
                        build_table(data,
                                ["when", "tuner", "comment", "where", "what", "togo"],
                                "#requested_bookings");
                    } else {
                        build_table(data,
                                ["when", "comment", "where", "what", "togo"],
                                "#requested_bookings");
                    }
                    // if admin, then can assign tuners here
                    if (USER_TYPE == "admin") {
                        var tuners_list = [];
                        $.each(tuners, function (i, d) {
                            tuners_list.push({value: d.id, text: d.name});
                        });

                        $('.tuners').editable({
                            type: 'select',
                            source: tuners_list,
                            sourceCache: true,
                            url: API + 'accept_booking/?format=json&limit=0',

                            success: function (response, newValue) {
                                if (response.status == 'error') return response.msg; //msg will be shown in editable form
                            },
                            title: 'Select Tuner'
                        });
                    }

                    // get comments and add box to add comments

                    add_comment_editable();
                    add_comment_list();


                    // double click on table row to go to booking detail screen
                    $(".datarow").on("dblclick", function(e) {

                        document.location.href = "/booking/"+this.dataset['id'];
                    });

                    // do_last in base template
                    do_last();

                }
            });
        }

        function build_table(json, cols, tableid) {




            // build table
            var body = $(tableid+" tbody");
            var rows = "";
            $.each(json, function (i, d) {

                var tr = '<tr class="datarow booking_status_' + d.status + '" data-id="'+d.ref+'">';
                $.each(cols, function(i,c){

                    tr += '<td class="name" >' + d[c] + '</td>';
                });
                rows += tr + '</tr>';
            });

            body.append(rows);

        }


    </script>
{% endblock js %}
