{% extends "base.html" %}
{% load bootstrap3 %}
{% load comments %}



{% block extra_head %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    {#<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />#}
    {#<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>#}


{% endblock extra_head %}

{% block main %}


    <div class="container">
        <div class="row">


            <h1>Mark as Paid</h1>
            <div class="table-responsive">
                <h3>Tuners for Payment</h3>
                <table id="providers" class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>When</th>
                        <th>Who</th>
                        <th>Where</th>
                        <th>What</th>
                        <th>Paid</th>
                        <th >Comments</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

                <h3>Payments from Clients</h3>
                <table id="clients" class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>When</th>
                        <th>Who</th>
                        <th>Where</th>
                        <th>What</th>
                        <th>Paid</th>
                        <th >Comments</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>


{% endblock main %}


{% block js %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script type="text/javascript">
        API = "{{ API_URL }}"

        $(document).ready(function () {

            init();



        });

        function init() {
            // when page is first loaded



            bookings_to_paid();


        }



        function bookings_to_paid() {



            $.ajax({
                type:"get",
                url:API+"bookings_to_paid",
                data: {
                    limit:10},
                dataType : 'json',
                success:function(json){

                    // put data in a table;
                    bookings_table(json);

                    // save state when switch toggled
                    $(".switch").on("switch-change", function(e) {
                        e.stopPropagation();

                        // checked means not tuned and vv.
                        var state = !(this.checked);
                        var ref = this.dataset['pk'];

                        $.ajax({
                            type:"post",
                            url:API+"booking_pay/",
                            data: {
                                ref:ref,
                                state: state},
                            dataType : 'json',
                            success:function(json){
                                x=json;
                            }

                        });
                    });
                }
            });
        }

        function bookings_table(json) {
            data = new Array();
                    $.each(json.objects, function(i,d) {

                        d['when'] = moment(d.when).format('ddd Do MMM - HH:mm')
                        d['pay_provider'] = '<input type="checkbox" class="provider_switch" data-text-label="Paid" data-on=null, data-off=success data-on-label="No" data-off-label="Yes" checked id="provider_' + d['ref'] + '" data-pk="' + d['ref'] +'">'
                        d['pay_client'] = '<input type="checkbox" class="client_switch" data-text-label="Paid" data-on=null, data-off=success data-on-label="No" data-off-label="Yes" checked id="client_' + d['ref'] + '" data-pk="' + d['ref'] +'">'
                        d['provider_comment'] = '<a href="#" class="provider_comment"  data-pk="' + d['ref'] +'" data-value="">add comment</a>';
                        d['client_comment'] = '<a href="#" class="client_comment"  data-pk="' + d['ref'] +'" data-value="">add comment</a>';
                        data.push(d)
                    })
                    build_table(data,
                            ["when", "tuner", "where", "what","pay_provider", "provider_comment"],
                            "#providers");
                    build_table(data,
                            ["when", "tuner", "where", "what","pay_client", "client_comment"],
                            "#clients");


                    $(".switch").bootstrapSwitch();  // make checkboxes in table into switches

                    $('.comment').editable({
                        type: 'textarea',
                        sourceCache: true,
                        url: API + 'log/?format=json',

                        success: function(response, newValue) {
                            if(response.status == 'error') return response.msg; //msg will be shown in editable form
                        },
                        title: 'add comment'
                    });
        }
        function build_table(json, cols, tableid) {




            // build table
            var body = $(tableid+" tbody");
            var rows = "";
            $.each(json, function (i, d) {

                var tr = '<tr class="' + d.status + '" data-id="'+d.ref+'">';

                $.each(cols, function(i,c){

                    tr += '<td class="name" >' + d[c] + '</td>';
                });
                rows += tr + '</tr>';
            });

            body.append(rows);

        }


    </script>
{% endblock js %}
