{% extends "base.html" %}
{% load bootstrap3 %}
{% load comments %}



{% block extra_head %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    {#<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />#}
    {#<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>#}


{% endblock extra_head %}

{% block main %}


    <div class="container">
        <div class="row">


            <h1>Mark as Complete</h1>
            <div class="table-responsive">
                <table id="bookings" class="table table-condensed">
                    <thead>
                    <tr>
                        <th>When</th>
                        <th>Who</th>
                        <th>Where</th>
                        <th>What</th>
                        <th >Comments</th>



                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>


{% endblock main %}


{% block js %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.min.js"></script>

    <script src="{{ STATIC_URL }}js/tuning_updates.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script type="text/javascript">
        API = "{{ API_URL }}"

        $(document).ready(function () {

            init();



        });

        function init() {
            // when page is first loaded



            bookings_to_complete();


        }



        function bookings_to_complete() {



            $.ajax({
                type:"get",
                url:API+"bookings_to_complete",
                data: {
                    limit:0},
                dataType : 'json',
                success:function(json){

                    // put data in a table;
                    bookings_table(json);

                }
            });
        }

        function bookings_table(json) {

            var template = $('#add_comment_template').html();
            Mustache.parse(template);

            data = new Array();
            $.each(json.objects, function(i,d) {
                d['togo'] = moment(d.when).fromNow()
                d['when'] = moment(d.when).format('ddd Do MMM - HH:mm')

                // if booking has passed (status=4) then allow it to be closed
                if (d.status == "4") {
                    d['done'] = '<input type="checkbox" class="switch switch_complete" data-text-label="Tuned" data-on=null, data-off=success data-on-label="No" data-off-label="Yes" checked id="complete_' + d['ref'] + '" data-pk="' + d['ref'] +'">'

                } else {
                    d['done'] = ''
                }
                d['comment'] =  Mustache.render(template, {ref: d.ref}) +
                        '<div class="comment_badge" data-pk="' + d.ref + '"></div>' +
                        '<div class="comment_list" data-pk="' + d.ref + '"></div>';
                data.push(d)
            })
            build_table(data,
                    ["when", "tuner", "where", "what","done", "comment"],
                    "#bookings");

            $(".datarow").on("dblclick", function(e) {

                document.location.href = "/booking/"+this.dataset['id'];
            });
            update_events();
            do_last();
        }
        function build_table(json, cols, tableid) {




            // build table
            var body = $(tableid+" tbody");
            var rows = "";
            $.each(json, function (i, d) {

                var tr = '<tr class="datarow booking_status_' + d.status + '" data-id="'+d.ref+'">';
                $.each(cols, function(i,c){

                    tr += '<td class="name" >' + d[c] + '</td>';
                });
                rows += tr + '</tr>';
            });

            body.append(rows);

        }


    </script>
{% endblock js %}
