{% extends "base.html" %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">

{% endblock extra_head %}
{% block content %}


    <div class="container">
        <div class="row">
            <div class="span6 pagination-centered">
                <h1>Booking</h1>
                <form id="booking" role="form" class="form-horizontal">{% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.requested_from.as_hidden }}
                    {{ form.requested_to.as_hidden }}
                    {{ form.duration.as_hidden }}

                    <div class="form-group">
                        {{ form.client.errors }}
                        {{ form.client.label_tag }}
                        {{ form.client }}
                    </div>

                    <div class="form-group">
                        {{ form.requested_from.errors }}
                        {{ form.requested_from.label_tag }}
                        <div id="from_date" name="from_date" class="bfh-datepicker" data-format="d-m-y" data-min="today">></div>
                        <div id="from_time" name="from_time" class="bfh-timepicker" data-time="now"></div>
                    </div>

                    <div class="form-group">
                        {{ form.requested_to.errors }}
                        {{ form.requested_to.label_tag }}
                        <div id="to_date" name="to_date" class="bfh-datepicker" data-format="d-m-y" data-min="today">></div>
                        <div id="to_time" name="to_time" class="bfh-timepicker" data-time="now">></div>
                    </div>

                    {#    fields = [ 'client', 'requested_from', 'requested_to', 'duration', 'location', 'instrument', 'deadline', 'client_ref', 'comments']#}

                    <div class="form-group">
                        {{ form.location.errors }}
                        {{ form.location.label_tag }}
                        {{ form.location }}
                    </div>




                    <button type="submit" id="make_booking"
                            class="btn btn-large btn-primary" type="button">Save</button>

                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"></script>


    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.js"></script>

    <script type="text/javascript">
        API = "http://127.0.0.1:8000/api/v1/";

        $(document).ready(function () {

           $('#from_date').on('change.bfhdatepicker', function(e) {
               //change hidden value
               var newdate = moment(this.value + $("#id_requested_from").val().substr(10), "DD-MM-YYYY HH:mm:SS");
               $("#id_requested_from").val(newdate.format('YYYY MM DD'));

               // if to date after new from date, change the date part of the to date to new from date
               // (read the code, it makes more sense!)
               var to_date = moment($("#id_requested_to").val(), "DD-MM-YYYY HH:mm:SS");

               if (to_date.isBefore(newdate)) {
                   $("#id_requested_from").val(newdate.format('YYYY MM DD'));
               }
            });

           $('#to_date').on('change.bfhdatepicker', function(e) {
               //change hidden value
               var newdate = moment(this.value + $("#id_requested_to").val().substr(10), "DD-MM-YYYY HH:mm:SS");
               $("#id_requested_to").val(newdate.format('YYYY MM DD'));
               $("#to_date").val(newdate.format('DD-MM-YYYY'))

            });


        });




    </script>
{% endblock js %}