          <div id="button_bar">


                  <button id="editable_save" type="button" class="btn btn-success"
                          data-pk="{{ object.ref }}" data-show-status="_0" data-show-user="booker,admin">Create Booking</button>
                  <button id="editable_cancel" type="button" class="btn btn-warning"
                          data-pk="{{ object.ref }}" data-show-status="_0" data-show-user="booker,admin">Forget</button>

                  <button id="editable_done" type="button" class="btn btn-success"
                          data-pk="{{ object.ref }}" data-show-status="1 2 3,4,5,6,7" data-show-user="booker,tuner,admin">Done</button>

                  <button type="button" class="btn booking_status_3 accept_booking"
                          data-pk="{{ object.ref }}" data-show-status="_1" data-show-user="tuner">Accept Booking</button>


                  <button type="button" class="btn booking_status_5 complete_booking"
                          data-pk="{{ object.ref }}" data-show-status="_3,4" data-show-user="booker,tuner,admin">{{ object.activity }} Complete</button>


                  <button  type="button" class="btn booking_status_9 booking_provider_paid"
                          data-pk="{{ object.ref }}" data-show-status="_5" data-show-user="tuner">Confirm Payment Received</button>


                  <button type="button" class="btn booking_status_9 booking_provider_paid"
                          data-pk="{{ object.ref }}" data-show-status="_ 5,6" data-show-user="admin">Tuner Paid</button>
                  <button type="button" class="btn booking_status_9 booking_client_paid"
                          data-pk="{{ object.ref }}" data-show-status="_5,7" data-show-user="admin">Client Paid</button>






                  <button id="editable_cancel" type="button" class="btn btn-danger cancel_booking"
                          data-pk="{{ object.ref }}" data-show-status="_1,3,4" data-show-user="booker,admin">Cancel Booking</button>


                  <a href="{{ object.get_absolute_url }}" id="goto_detail" type="button" class="btn btn-success"
                     data-pk="{{ object.ref }}" data-show-status="_1,3,4,7,8,9" data-show-user="booker,admin">Details...</a>

              </div>
