
/*calender - needs to be loaded afgter bootstrap-fullcalendar*/
.has-toolbar.fc {
    /*margin-top:50px;*/
}
.fc-header-title {
    display:inline-block;
    /*margin-top:-45px;*/
    vertical-align:top;
}
.fc-header-center {
    text-align:left;
}
.fc-header-left {
    text-align:left;
    width:18%;
}
.fc-view {
    /*margin-top:-50px;*/
    overflow:hidden;
    width:100%;
}
.fc-state-default,.fc-state-default .fc-button-inner {
    background:#F3F3F3 !important;
    border-color:#DDDDDD;
    border-style:none solid;
    color:#646464;
}
.fc-state-active,.fc-state-active .fc-button-inner,.fc-state-active,.fc-button-today .fc-button-inner,.fc-state-hover,.fc-state-hover .fc-button-inner {
    background:#32323A !important;
    color:#fff !important;
}
.fc-event-skin {
    background-color:#1FB5AD !important;
    border-color:#1FB5AD !important;
    color:#FFFFFF !important;
}
.fc-grid th {
    height:50px;
    line-height:50px;
    text-align:center;
    background:#e4e4e4 !important;
}
.fc-header-title h2 {
    font-size:18px !important;
    color:#474752;
    font-weight:300;
    padding:0 10px;
}
.external-event {
    cursor:move;
    display:inline-block !important;
    margin-bottom:6px !important;
    margin-right:6px !important;
    padding:8px;
}
#external-events p input[type="checkbox"] {
    margin:0;
}
.drg-event-title {
    font-weight:300;
    margin-top:0;
    margin-bottom:15px;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}
.fc-content .fc-event {
    border-radius:4px;
    webkit-border-radius:4px;
    padding: 4px 6px;
}
.fc-corner-left {
    /*border-radius:4px 0 0 4px;*/
    /*-webkit-border-radius:4px 0 0 4px;*/
}
.fc-corner-right {
    /*border-radius:0 4px 4px 0;*/
    /*-webkit-border-radius:0 4px 4px 0;*/
}
.drp-rmv {
    padding-top:10px;
    margin-top: 10px;
}

