.booking_status_1 {
    background-color: #fd8d3c
}

.booking_status_3 {
    background-color: #feb24c
}

.booking_status_5 {
    background-color: #fed976
}

.booking_status_9 {
    background-color: #ffffcc
}