{% extends "base.html" %}

{% block content %}
    <script>
        API = "http://127.0.0.1:8000/api/v1/";

    </script>

    <h3>Clients</h3>
    <p>Call: <code>http://127.0.0.1:8000/api/v1/clients</code></p>
    <p>Result:</p> <textarea id="clients"></textarea>

    <h3>Tuners</h3>
    <p>Call: <code>http://127.0.0.1:8000/api/v1/providers/</code></p>
    <p>Result:</p> <textarea id="tuners"></textarea>


    <h3>Studios</h3>
    <p>Call: <code>http://127.0.0.1:8000/api/v1/studios/?client_id=1</code></p>
    <p>Result:</p> <textarea id="studios"></textarea>

    <h3>Instruments</h3>
    <p>Call: <code>http://127.0.0.1:8000/api/v1/instruments/?client_id=1</code></p>
    <p>Result:</p> <textarea id="instruments"></textarea>

    <h3>Recent Bookings</h3>
    <p>Call: <code>http://127.0.0.1:8000/api/v1/recent_bookings/?limit=10</code></p>
    <p>Result:</p> <textarea id="recent_bookings"></textarea>


{%  endblock content %}


{%  block js %}

    <script>
        $(document).ready(function() {


            $.ajax({
                type:"get",
                url:API+"clients",
                dataType : 'json',

                success:function(data){

                    $("#clients").html(JSON.stringify(data));
                }
            });
            $.ajax({
                type:"get",
                url:API+"providers",
                dataType : 'json',

                success:function(data){

                    $("#tuners").html(JSON.stringify(data));
                }
            });
            $.ajax({
                type:"get",
                url:API+"studios",
                data: {client_id: '1'},
                dataType : 'json',

                success:function(data){

                    $("#studios").html(JSON.stringify(data));
                }
            });
            $.ajax({
                type:"get",
                url:API+"instruments",
                data: {client_id: '1'},
                dataType : 'json',

                success:function(data){

                    $("#instruments").html(JSON.stringify(data));
                }
            });

               $.ajax({
                type:"get",
                url:API+"recent_bookings",
                data: {limit: '10'},
                dataType : 'json',

                success:function(data){

                    $("#recent_bookings").html(JSON.stringify(data));
                }
            });

        });
    </script>

{% endblock js %}