{% load bootstrap3 %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="PhoebeBright">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png">

    <title>{% block title %}Tune My Piano{% endblock %}</title>



    <!--Core CSS -->
    {% bootstrap_css %}

    <link href="{{ STATIC_URL }}css/bootstrap-reset.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.css" rel="stylesheet" />

    {#<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />#}
    <link href="{{ STATIC_URL }}css/bootstrap-switch.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style-responsive.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/tuning.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    {% block extra_head %}
    {% endblock extra_head %}

</head>
<!-- NAVBAR
================================================== -->
<body>
{% block body %}
    <section id="container" >
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">

            <a href="\" class="logo">
                TuneMyPiano.co.uk
            </a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>
        <!--logo end-->

        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">

                <!-- REQUESTED BOOKIGNS -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa booking_status_1_icon"></i>
                        <span class="badge booking_status_1">{{ num_requested }}</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <li>
                            <p class="">You have <span>{{ num_requested|length }}</span> requests for tunings</p>
                        </li>
                        {%  for item in list_requested %}
                            <li >
                                <a href="{{item.get_absolute_url}}">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>{{ item.where }}</h5>

                                            <p>requested at {{ item.requested_at|time:"h:i a" }}</p>
                                            <p>for {{ item.when|date:"DATETIME_FORMAT" }}</p>
                                        </div>
                                    <span class="notification-pie-chart pull-right" data-percent="{{ item.sla_assign_tuner_pct }}">
                            <span class="percent"></span>
                            </span>
                                    </div>
                                </a>
                            </li>

                        {% endfor %}


                        <li class="external">
                            <a href="{%  url "assign_tuner" %}">See All Unassigned Tunings</a>
                        </li>
                    </ul>
                </li>

                <!-- CURRENT BOOKINGS -->

                <li id="header_incomplete_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa booking_status_3_icon"></i>
                        <span class="badge booking_status_3">{{ num_current }}</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <li>
                            <p class="">You have <span>{{ num_current }}</span> pending tunings</p>
                        </li>
                        {%  for item in list_current %}
                            <li >
                                <a href="{{item.get_absolute_url}}">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>{{ item.where }}</h5>
                                            <p>{{ item.when }}</p>
                                            <p>Tuner: {{ item.tuner }}</p>
                                        </div>
                                <span class="message pull-right">
                                    {{ item.when|timeuntil }}
                                </span>
                                    </div>
                                </a>
                            </li>
                        {%  endfor %}

                        <li>
                            <a href="{%  url "to_completed" %}">See All Pending Bookings</a>
                        </li>
                    </ul>
                </li>

                <!-- INCOMPLETE BOOKINGS -->

                <li id="header_incomplete_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa booking_status_4_icon"></i>
                        <span class="badge booking_status_4">{{ num_to_complete }}</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <li>
                            <p class="">You have <span>{{ num_to_complete }}</span> incomplete tunings</p>
                        </li>
                        {%  for item in list_to_complete %}
                            <li >
                                <a href="{{item.get_absolute_url}}">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>{{ item.where }}</h5>
                                            <p>{{ item.when }}</p>
                                            <p>Tuner: {{ item.tuner }}</p>
                                        </div>
                                <span class="message pull-right">
                                    {{ item.when|timesince }}
                                </span>
                                    </div>
                                </a>
                            </li>
                        {%  endfor %}

                        <li>
                            <a href="{%  url "to_completed" %}">See All Incomplete Tunings</a>
                        </li>
                    </ul>
                </li>

                <!-- UNPAID BOOKINGS -->

                <li id="header_unpaid_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa booking_status_5_icon"></i>
                        <span class="badge booking_status_5">{{ num_complete }}</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <li>
                            <p class="">You have <span>{{ num_complete }}</span> pending payment</p>
                        </li>
                        {%  for item in list_complete %}
                            <li >
                                <a href="{{item.get_absolute_url}}">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>{{ item.where }}</h5>
                                            <p>{{ item.when }}</p>
                                            <p>Tuner: {{ item.tuner }}</p>
                                        </div>
                                <span class="message pull-right">
                                    {{ item.when|timesince }}
                                </span>
                                    </div>
                                </a>
                            </li>
                        {%  endfor %}

                        <li>
                            <a href="{%  url "to_paid" %}">See All Unpaid Tunings</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!--  notification end -->
        </div>


        <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder=" Search">
                </li>

                {% if user.is_authenticated %}


                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="{{ STATIC_URL }}images/avatar1_small.jpg">
                            <span class="username">{{ user.get_full_name }}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="/logout/"><i class="fa fa-key"></i> Log Out</a></li>
                        </ul>
                    </li>



                {%  else  %}
                    <li><a href="/login/">Login</a></li>
                {%  endif %}


                <li>
                    <div class="toggle-right-box">
                        <div class="fa fa-bars"></div>
                    </div>
                </li>
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a href="/">
                            <i class="fa fa-dashboard"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    {% if user.is_authenticated %}

                        {% if user.is_staff %}

                            <li class="sub-menu">
                                <a href="javascript:;">
                                    <i class="fa fa-laptop"></i>
                                    <span>Bookings</span>
                                </a>
                                <ul class="sub">
                                    <li><a href="/calendar/">Calendar</a></li>
                                    <li><a href="/booking/add/">New Booking</a></li>
                                    <li><a href="/booking/assign/">Assign Tuner</a></li>
                                    <li><a href="/booking/to_completed/">Mark Completed</a></li>
                                    <li><a href="/booking/to_paid/">Payments</a></li>
                                    <li><a href="/bookings/">Browse Bookings</a></li>
                                </ul>
                            </li>




                            <li class="sub-menu">
                                <a href="javascript:;">
                                    <i class="fa fa-laptop"></i>
                                    <span>Admin</span>
                                </a>
                                <ul class="sub">
                                    <li><a href="/admin/web/client/">Clients</a></li>
                                    <li><a href="/admin/web/tuner/">Tuners</a></li>
                                </ul>
                            </li>

                        {% endif %}
                    {% endif %}

                    <li>
                        <a href="login.html">
                            <i class="fa fa-user"></i>
                            <span>Login Page</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            {% block main %}
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">{% block heading %}{% endblock %}
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                            </header>
                            <div class="panel-body">
                                {% block content %}
                                {% endblock content %}
                            </div>
                        </section>
                    </div>
                </div>
            {% endblock main %}
            <!-- page end-->

        </section>
    </section>
    <!--main content end-->
    <!--right sidebar start-->
    <div class="right-sidebar">
        <div class="search-row">
            <input type="text" placeholder="Search" class="form-control">
        </div>
        <div class="right-stat-bar">
            <ul class="right-side-accordion">
                <li class="widget-collapsible">
                    <a href="#" class="head widget-head red-bg active clearfix">
                        <span class="pull-left">work progress (5)</span>
                        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
                    </a>
                    <ul class="widget-container">
                        <li>
                            <div class="prog-row side-mini-stat clearfix">
                                <div class="side-graph-info">
                                    <h4>Target sell</h4>
                                    <p>
                                        25%, Deadline 12 june 13
                                    </p>
                                </div>
                                <div class="side-mini-graph">
                                    <div class="target-sell">
                                    </div>
                                </div>
                            </div>

                            <div class="prog-row side-mini-stat">
                                <div class="col-md-12">
                                    <h4>total progress</h4>
                                    <p>
                                        50%, Deadline 12 june 13
                                    </p>
                                    <div class="progress progress-xs mtop10">
                                        <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                            <span class="sr-only">50% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--right sidebar end-->

    </section>



    {# Display django.contrib.messages as Bootstrap alerts #}



{% endblock body %}

<!-- Bootstrap core JavaScript
================================================== -->
<script src="//cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
{% bootstrap_javascript %}
<script src="{{ STATIC_URL }}js/jquery.scrollTo.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.slimscroll.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.nicescroll.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>  <!-- for displaying comments -->

{#<script src="https://raw.github.com/andris9/jStorage/master/jstorage.js"></script>#}
<script src="{{ STATIC_URL }}js/moment.min.js"></script>
<script src="{{ STATIC_URL }}js/q.js"></script>

<script>
    //TODO: remember status of left hand sidebar - keeps popping back out
    function show_comments(id) {

        var html = '';

        $.ajax({
            type:"get",
            url:API+"log",
            data: {
                limit:100,
                booking_id: id},
            dataType : 'json',
            success:function(json){
                var data =json.objects;
                $.each(data, function(i, d) {

                    var when = moment(d.created).format('ddd Do MMM - HH:mm')
                    var since = moment(d.created).fromNow()

                    html += "<li>" + d['comment'] + ' - ' + d['created_by']['full_name'] + ' - ' + when +'</li>';
                })

                $("#comment_list").html(html);

            }
        });
    }
</script>

<!-- templates -->
{% verbatim %}
<script id="add_comment_template" type="x-tmpl-mustache">

<a href="#" class="comment btn btn-info fa fa-pencil"  data-pk="{{ ref }}" data-value=""> Comment</a>
</script>

<script id="comment_list_template" type="x-tmpl-mustache">
  <div class="alert alert-info clearfix">
                <div class="notification-info">
                    <ul class="clearfix notification-meta">
                        <li class="pull-left notification-sender"><span><a href="#">{{ user }}</a></span></li>
                        <li class="pull-right notification-time">{{ time }}</li>
                    </ul>
                    <p>{{ text }} </p>
                </div>
            </div>


</script>

<script id="comment_badge_template" type="x-tmpl-mustache">
<span class="badge comment_count pull-right">{{ num }}</span>
</script>
{% endverbatim %}
<script>

    function do_last() {

        // tool tips

        $('.tooltips').tooltip();

        // popovers

        $('.popovers').popover();

        /*
         the comment code below attempts to load comment data and setup forms for one or more bookings
         displayed on the template.

         The non-base template calls do_last() once all bookings are loaded and the html with classes:
         .comment - for adding a comment
         <a href="#" class="comment btn btn-primary fa fa-pencil pull-right"  data-pk="XYZ" data-value="">Comment</a>


         .comment_list - to display all the existing comments
         <div class="comment_list" data-pk="XYZ"></div>

         */
        $('.comment').editable({
            type: 'textarea',
            sourceCache: true,
            url: API + 'log/?format=json',

            success: function(response, newValue) {
                if(response.status == 'error') return response.msg; //msg will be shown in editable form

                // refresh list of comments
                var pk = this.dataset['pk'];
                var sel = $('.comment_list[data-pk="' + pk + '"]');
                update_comment_list(sel, pk)

                // show comment list
                sel.show('slow');


            },
            title: 'add comment',
            display: false
        });

        $(".comment_list").each(function(i,d) {

            update_comment_list($(this), d.dataset['pk']);

        });

        var template = $('#comment_badge_template').html();
        Mustache.parse(template);
        var promises = [];


        $(".comment_badge").each(function(i,d) {
            var selection = $(this);
            promises.push(load_comment_count(d.dataset['pk'], selection, template));

        });

        Q.all(promises).then(function() {

            // once all comments loaded

            $(".comment_badge").on("click", function(e) {
                $(".comment_list[data-pk="+this.dataset['pk']+"]").toggle('slow');
            })
        });
    }

    function load_comment_count(pk, selection, template) {

        $.ajax({
            type:"get",
            url:API+"log",
            data: {
                limit:100,
                ref:pk},
            dataType : 'json',
            success:function(json){
                var num = json.meta['total_count'];
                if (num > 0) {
                    selection.html(Mustache.render(template, {num: num}));
                }


            }
        });
    }

    function update_comment_list(selection, pk) {

        var template = $('#comment_list_template').html();
        Mustache.parse(template);

        $.ajax({
            type:"get",
            url:API+"log",
            data: {
                limit:100,
                ref:pk},
            dataType : 'json',
            success:function(json){
                var html = '';
                $.each(json.objects, function(i, d) {
                    html += comment_html(d, template);
                });

                selection.html(html);

                // update badge
                var badge = $('.comment_badge[data-pk='+pk+']');
                if (badge.length) {
                    badge.children('span').html(json.meta['total_count']);
                }

            }
        });
    }

    function comment_html(d, template) {

        if (typeof template == "undefined") {
            var template = $('#comment_list_template').html();
            Mustache.parse(template);
        }

        return Mustache.render(template, {
            user: d['created_by']['full_name'],
            time: moment(d['created']).fromNow(),
            text: d['comment']});
    }

</script>


{%  block js %}
{%  endblock %}

<script src="{{ STATIC_URL }}js/easypiechart/jquery.easypiechart.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-switch.js"></script>
<script src="{{ STATIC_URL }}js/mustache.js"></script>

<script>


$('.notification-pie-chart').easyPieChart({
    onStep: function (from, to, percent) {
        //TODO: harding coding sla as 60 mins here, should refer back to settings.SLA
        $(this.el).find('.percent').text(Math.round(percent));
    },
    barColor: "#39b6ac",
    lineWidth: 3,
    size: 50,
    trackColor: "#efefef",
    scaleColor: "#cccccc"

});

(function ($) {
    "use strict";
    $(document).ready(function () {

        API = "{{ API_URL }}";
        /*==Left Navigation Accordion ==*/
        if ($.fn.dcAccordion) {
            $('#nav-accordion').dcAccordion({
                eventType: 'click',
                autoClose: true,
                saveState: true,
                disableLink: true,
                speed: 'slow',
                showCount: false,
                autoExpand: true,
                classExpand: 'dcjq-current-parent'
            });
        }
        /*==Slim Scroll ==*/
        if ($.fn.slimScroll) {
            $('.event-list').slimscroll({
                height: '305px',
                wheelStep: 20
            });
            $('.conversation-list').slimscroll({
                height: '360px',
                wheelStep: 35
            });
            $('.to-do-list').slimscroll({
                height: '300px',
                wheelStep: 35
            });
        }
        /*==Nice Scroll ==*/
        if ($.fn.niceScroll) {


            $(".leftside-navigation").niceScroll({
                cursorcolor: "#1FB5AD",
                cursorborder: "0px solid #fff",
                cursorborderradius: "0px",
                cursorwidth: "3px"
            });

            $(".leftside-navigation").getNiceScroll().resize();
            if ($('#sidebar').hasClass('hide-left-bar')) {
                $(".leftside-navigation").getNiceScroll().hide();
            }
            $(".leftside-navigation").getNiceScroll().show();

            $(".right-stat-bar").niceScroll({
                cursorcolor: "#1FB5AD",
                cursorborder: "0px solid #fff",
                cursorborderradius: "0px",
                cursorwidth: "3px"
            });

        }



        {#        /*== SPARKLINE==*/#}
        {#        if ($.fn.sparkline) {#}
        {##}
        {#            $(".d-pending").sparkline([3, 1], {#}
        {#                type: 'pie',#}
        {#                width: '40',#}
        {#                height: '40',#}
        {#                sliceColors: ['#e1e1e1', '#8175c9']#}
        {#            });#}
        {##}
        {##}
        {##}
        {#            var sparkLine = function () {#}
        {#                $(".sparkline").each(function () {#}
        {#                    var $data = $(this).data();#}
        {#                    ($data.type == 'pie') && $data.sliceColors && ($data.sliceColors = eval($data.sliceColors));#}
        {#                    ($data.type == 'bar') && $data.stackedBarColor && ($data.stackedBarColor = eval($data.stackedBarColor));#}
        {##}
        {#                    $data.valueSpots = {#}
        {#                        '0:': $data.spotColor#}
        {#                    };#}
        {#                    $(this).sparkline($data.data || "html", $data);#}
        {##}
        {##}
        {#                    if ($(this).data("compositeData")) {#}
        {#                        $spdata.composite = true;#}
        {#                        $spdata.minSpotColor = false;#}
        {#                        $spdata.maxSpotColor = false;#}
        {#                        $spdata.valueSpots = {#}
        {#                            '0:': $spdata.spotColor#}
        {#                        };#}
        {#                        $(this).sparkline($(this).data("compositeData"), $spdata);#}
        {#                    };#}
        {#                });#}
        {#            };#}
        {##}
        {#            var sparkResize;#}
        {#            $(window).resize(function (e) {#}
        {#                clearTimeout(sparkResize);#}
        {#                sparkResize = setTimeout(function () {#}
        {#                    sparkLine(true)#}
        {#                }, 500);#}
        {#            });#}
        {#            sparkLine(false);#}
        {##}
        {##}
        {##}
        {#        }#}
        {##}
        {##}
        {##}
        {#        if ($.fn.plot) {#}
        {#            var datatPie = [30, 50];#}
        {#            // DONUT#}
        {#            $.plot($(".target-sell"), datatPie, {#}
        {#                series: {#}
        {#                    pie: {#}
        {#                        innerRadius: 0.6,#}
        {#                        show: true,#}
        {#                        label: {#}
        {#                            show: false#}
        {##}
        {#                        },#}
        {#                        stroke: {#}
        {#                            width: .01,#}
        {#                            color: '#fff'#}
        {##}
        {#                        }#}
        {#                    }#}
        {##}
        {##}
        {##}
        {##}
        {#                },#}
        {##}
        {#                legend: {#}
        {#                    show: true#}
        {#                },#}
        {#                grid: {#}
        {#                    hoverable: true,#}
        {#                    clickable: true#}
        {#                },#}
        {##}
        {#                colors: ["#ff6d60", "#cbcdd9"]#}
        {#            });#}
        {#        }#}



        /*==Collapsible==*/
        $('.widget-head').click(function (e) {
            var widgetElem = $(this).children('.widget-collapse').children('i');

            $(this)
                    .next('.widget-container')
                    .slideToggle('slow');
            if ($(widgetElem).hasClass('ico-minus')) {
                $(widgetElem).removeClass('ico-minus');
                $(widgetElem).addClass('ico-plus');
            } else {
                $(widgetElem).removeClass('ico-plus');
                $(widgetElem).addClass('ico-minus');
            }
            e.preventDefault();
        });




        /*==Sidebar Toggle==*/

        $(".leftside-navigation .sub-menu > a").click(function () {
            var o = ($(this).offset());
            var diff = 80 - o.top;
            if (diff > 0)
                $(".leftside-navigation").scrollTo("-=" + Math.abs(diff), 500);
            else
                $(".leftside-navigation").scrollTo("+=" + Math.abs(diff), 500);
        });



        $('.sidebar-toggle-box .fa-bars').click(function (e) {

            $(".leftside-navigation").niceScroll({
                cursorcolor: "#1FB5AD",
                cursorborder: "0px solid #fff",
                cursorborderradius: "0px",
                cursorwidth: "3px"
            });

            $('#sidebar').toggleClass('hide-left-bar');
            if ($('#sidebar').hasClass('hide-left-bar')) {
                $(".leftside-navigation").getNiceScroll().hide();
            }
            $(".leftside-navigation").getNiceScroll().show();
            $('#main-content').toggleClass('merge-left');
            e.stopPropagation();
            if ($('#container').hasClass('open-right-panel')) {
                $('#container').removeClass('open-right-panel')
            }
            if ($('.right-sidebar').hasClass('open-right-bar')) {
                $('.right-sidebar').removeClass('open-right-bar')
            }

            if ($('.header').hasClass('merge-header')) {
                $('.header').removeClass('merge-header')
            }


        });
        $('.toggle-right-box .fa-bars').click(function (e) {
            $('#container').toggleClass('open-right-panel');
            $('.right-sidebar').toggleClass('open-right-bar');
            $('.header').toggleClass('merge-header');

            e.stopPropagation();
        });

        $('.header,#main-content,#sidebar').click(function () {
            if ($('#container').hasClass('open-right-panel')) {
                $('#container').removeClass('open-right-panel')
            }
            if ($('.right-sidebar').hasClass('open-right-bar')) {
                $('.right-sidebar').removeClass('open-right-bar')
            }

            if ($('.header').hasClass('merge-header')) {
                $('.header').removeClass('merge-header')
            }


        });


        $('.panel .tools .fa').click(function () {
            var el = $(this).parents(".panel").children(".panel-body");
            if ($(this).hasClass("fa-chevron-down")) {
                $(this).removeClass("fa-chevron-down").addClass("fa-chevron-up");
                el.slideUp(200);
            } else {
                $(this).removeClass("fa-chevron-up").addClass("fa-chevron-down");
                el.slideDown(200); }
        });



        $('.panel .tools .fa-times').click(function () {
            $(this).parents(".panel").parent().remove();
        });


    });



})(jQuery);


</script>

</body>
</html>
