{% load bootstrap3 %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{% block title %}Tunings App {% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    {# Load CSS and JavaScript #}

    {% bootstrap_css %}

    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/lumen/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/responsive-calendar.css" rel="stylesheet">


    {% block extra_head %}
    {% endblock extra_head %}

</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Tunings App</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="\">Home</a></li>

                        {% if user.is_authenticated %}

                            {% if user.is_staff %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/admin">Admin</a></li>
                                        <li><a href="/apis">APIs</a></li>
                                    </ul>
                                </li>
                            {% endif %}

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} {{ user.last_name }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/booking/add/">Make Booking</a></li>
                                    <li><a href="#">Assign Tuner</a></li>
                                    <li><a href="#">Expiring Requests</a></li>
                                    <li class="divider"></li>

                                    <li><a href="#">Client Payments Due</a></li>
                                    <li><a href="#">Tuner Payments Due</a></li>
                                                   <li class="divider"></li>
                                    <li><a href="/logout/">Logout</a></li>
                                </ul>
                            </li>
                        {%  else  %}
                            <li><a href="/login/">Login</a></li>
                        {%  endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>



{# Display django.contrib.messages as Bootstrap alerts #}


{% block body %}
    {%  block main %}
          <div class="container">
        <div class="row">


        {% block content %}
        {% endblock content %}

        </div>
        </div>
    {% endblock main %}
{% endblock body %}

<!-- Bootstrap core JavaScript
================================================== -->
<script src="//cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% bootstrap_javascript %}
{#<script src="https://raw.github.com/andris9/jStorage/master/jstorage.js"></script>#}
<script src="{{ STATIC_URL }}js/moment.min.js"></script>

{%  block js %}
{%  endblock %}

</body>
</html>
