
{% extends "base.html" %}

{% block extra_head %}

    {#    <link href="{{ STATIC_URL }}css/bootstrap-fullcalendar.css" rel="stylesheet">#}
    {#    <link href="{{ STATIC_URL }}css/calendar.css" rel="stylesheet">#}
    <link href="{{ STATIC_URL }}js/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/calendar.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/clockin.css" rel="stylesheet"/>

    <script src="{{ STATIC_URL }}js/moment-timezone.min.js"></script>


    <style>
        .fc-header-title h2 {
            font-size: 90%;
        }

        #booking_edit {
            color: white;
        }

        .selected {
            background-color: black;
        }
        #clock {
            width: 300px;
            height: 300px;
        }

        .fc-agenda-slots td div {
            height: 25px !important;
        }
        .client_select {
            margin-bottom:5px;
        }
/* can't put responsive stuff for calendar in style-responsive as called before calendar.css */
@media (max-width:767px) {


    /* fullcalendar */
    .fc-event-inner {
        height: 18px;
    }
    .fc-content .fc-event {
        padding: 1px;
    }

}

    </style>
{% endblock extra_head %}
{% block heading %}Bookings Calendar{% endblock %}
{% block main %}

    <div id="booking_row" class="row" style="display:none;">
        <div class="col-sm-12">
            <section class="panel">
                <div id="booking_edit" class="panel-body booking_status_1">
                    {%  include "web/booking_editable_template.html" with user=user object=object %}
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                {#                <header class="panel-heading">Calendar#}
                {#                        <span class="tools pull-right">#}
                {#                            <a href="javascript:;" class="fa fa-chevron-down"></a>#}
                {##}
                {#                         </span>#}
                {#                </header>#}
                <div class="panel-body">



                    <aside class="col-lg-3">

                        {%  if user.is_admin %}


                            <!--TODO: message if drag to invalid date and if click or couble click -->
                            <div id='external-events' class="hidden-xs">
                                <h4 class="drg-event-title">Clients</h4>
                                {%  for item in clients %}
                                    <div class='external-event label label-primary' id="client_{{ item.id }}" data-id="{{ item.id }}">{{ item.name }}</div>
                                {% endfor %}
                            </div>

                            <div id="client_selection" class="hidden-sm hidden-md hidden-lg">
                                <select id="client-select" class="form-control">
                                    <option value="0">Pick Client then Click Date</option>
                                    {%  for item in clients %}
                                        <option  value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}

                                </select>
                            </div>


                        {% else %}

                            <div class='message-log' data-items="10" >

                            </div>


                            {% if user.is_booker %}
                                Booker stuff here
                            {% else %}
                                {% if user.is_tuner %}
                                    Tuner stuff here
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </aside>
                    <aside class="col-lg-9">
                        <div id="calendar" class="has-toolbar"></div>
                    </aside>
                </div>
            </section>
        </div>

    </div>
    <!-- TODO:option to hide bookings to easier to create new booking -->

    <!-- TODO:validation to prevent booking being created that does not have a studio -->


{% endblock main %}


{%  block js %}

    {#  TODO: x-editable doesn't work in modals - put back if it does #}
    {#    <div class="modal fade" id="booking_entry_form" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">#}
    {#        <div class="modal-dialog">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
    {#                    <h4 class="modal-title" id="modal_label">Add Booking</h4>#}
    {#                </div>#}
    {#                <div class="modal-body">#}
    {#                    {%  include "web/booking_editable_template.html" %}#}
    {#                </div>#}
    {#                <div class="modal-footer">#}
    {#                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
    {#                    <button type="button" class="btn btn-primary">Save changes</button>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <script type="text/javascript" src="{{ STATIC_URL }}js/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{ STATIC_URL }}js/clockin.js"></script>
    <script src="{{ STATIC_URL }}js/booking_template.js"></script>
    <script src="{{ STATIC_URL }}js/tuning_updates.js"></script>

    <script type="text/javascript">



    $(document).ready(function () {

        init();

        function init() {
            /* initialize the external events
             -----------------------------------------------------------------*/

            $('#external-events div.external-event').each(function() {

                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim($(this).text()) // use the element's text as the event title
                };

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject);

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });

            calendar();
            do_last();
        }
    });


    function calendar() {

        // small is mobile sized and has a different layout
        var small = ($( window ).width() < 768);

        // get last used view from cookie or defualt to month view
        var calendarView = (!$.cookie('calendarDefaultView')) ? 'month' : $.cookie('calendarDefaultView');

        // cutomisation for very small screens
        if (small) {
            button_text = {
                today:    'T',
                month:    'M',
                week:     'W',
                day:      'D'
            }
        } else {
            button_text = {
                today:    'Today',
                month:    'Month',
                week:     'Week',
                day:      'Day'
            }
        }



        $('#calendar').fullCalendar({
            timezone: 'local',
            firstDay:1,
            defaultView: calendarView,
            minTime: "{{ CALENDAR_MIN_TIME }}",
            maxTime: "{{ CALENDAR_MAX_TIME }}",
            //slotDuration: "1:00",
            defaultEventMinutes: {{ DEFAULT_SLOT_TIME }},
            allDayDefault: false,
            allDaySlot: false,
            //slotMinutes: 60,
            header: {
                left: 'prev,next ',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            buttonText: button_text,
            columnFormat: {
                month: 'ddd',
                week: 'ddd Do',
                day: 'dddd Do MMMM'
            },
            viewRender: function(view, element){
                // save view to cookie
                $.cookie('calendarDefaultView', view.name, {expires:7, path: '/'});
            },
            selectable: true,
            selectHelper: true,

            eventResize: function(event, revertFunc) {

                //var duration = event.end.diff(event.start, 'minutes');

                update_end(event.id, event.end);


            },
            eventDrop: function(event, revertFunc) {

                var start = event.start.utc().format();
                update_time(event.id, "requested_from", start);

            },
            editable: true,  // set individually per event in data feed

            dayClick:  function(date, jsEvent, view) {
                //TODO: make double click to create entry and single click to bring up day view
                var that = $(this);

                if (!that.hasClass('selected')) {
                    that.addClass('selected');
                    {% if user.is_booker %}
                        client_dropped(date, true, CLIENT_ID);
                    {% endif %}
                    {% if user.is_admin %}
                        // if using dropdown, may have client id
                        var client_id = parseInt($("#client-select").val());
                        if (client_id > 0) {
                            client_dropped(date, true, client_id);
                        } else {
                            alert("Drag Client button onto this date to create a new booking");
                        }
                    {% endif %}
                }

                setTimeout(function () {
                    that.removeClass('selected');
                }, 2000);

            },

            droppable: true,
            drop: function(date, allDay) {

                if (USER_TYPE == "admin" || date > moment()) {

                    client_dropped(date, allDay, this.dataset['id']);
                }

            },
            events:{
                // awful time trying to get calendar to display proper time...
                //ignoreTimezone:true,
                //currentTimezone: 'Europe/London',
                type:"get",
                url:API+"bookings",
                data: {
                    limit:0},
                dataType : 'json',
                success:function(json){

                    // convert dates to moment objects
                    data = new Array();
                    $.each(json.objects, function(i,d) {

                        data.push(tidy_data(d));

                    });
                    return data;
                }
            },
            eventClick: function(event, jsEvent, view) {

                var that = $(this);

                // add a class to highlight and also prevent double click
                if (!that.hasClass('selected')) {

                    that.addClass('selected');
                    // display booking details

                    load_booking(event.id);

                }
                that.removeClass('selected');

            }
        });


    }

    function remove_event(eventid) {
        $('#calendar').fullCalendar('removeEvents', [eventid]);
    }


    function redraw_event(eventid, d) {

        var event = $("#calendar").fullCalendar( 'clientEvents', [eventid]);

        event[0].title = d.title;
        event[0].start = moment(d.start);
        event[0].end = moment(d.end);
        event[0].className = "booking_status_" + d['status'];

        $('#calendar').fullCalendar( 'updateEvent', event[0] );

    }
    function refresh_event(eventid) {
        // reget data and redisplay on calendar
        // generally called after an update

        alert('not to self, probably dont need this');


        $.ajax({
            type: "get",
            url: API + "bookings",
            data: {
                ref: eventid,
                limit: 1},
            dataType: 'json',
            success: function (json) {

                // remove from calendar
                $('#calendar').fullCalendar('removeEvents', [eventid]);

                // redraw if it hasn't been deleted
                if (json.objects.length > 0) {


                    var d = tidy_data(json.objects[0]);

                    // remove old event first

                    $('#calendar').fullCalendar('renderEvent', {
                        id: eventid,
                        start: d.start,
                        end: d.end,
                        title: d.title,
                        className: "booking_status_" + d['status']
                    }, true);

                    /* couldn't get update to work
                     var event = $('#calendar').fullCalendar( 'clientEvents', d.ref );

                     if (event.length > 0)
                     {
                     //event[0].title = d.title;
                     event[0].start = moment(d.start);
                     event[0].end = moment(d.end);
                     event[0].className = "booking_status_" + d['status'];

                     $('#calendar').fullCalendar( 'updateEvent', event[0] );
                     } else {
                     console.log("Error updating event after changes")
                     }
                     */

                }
            }
        });
    }

    function close_form() {
        // hide form
        $("#booking_row").slideUp();
    }

    function load_booking(eventid) {


        // get full details
        $.ajax({
            type:"get",
            url:API+"bookings_fat",
            data: {
                ref: eventid,
                limit:0},
            dataType : 'json',
            success:function(json){

                data = tidy_data(json.objects[0]);
                populate_form(data, eventid);
                // holds on click events etc.
                update_events();
            }
        });
    }

    function client_dropped(date, allDay, client_id) {

        // ignore if date before now
        if (date < moment() && USER_TYPE != "admin") {
            return
        }

        // if view is month, the default time to DEFAULT_START_TIME
        var view = $('#calendar').fullCalendar('getView');
        var deadline = "";  // date as string - no spaces/punctuation
        var post_data = {};
        var when = "";

        // pass back date in utc

        // if called from week/day view with a time, this is the requested from time (start)
        // if on month view, then set the deadline to the default time
        if (view.name == "month") {
            when = date.utc().toISOString().substring(0,10);  // just date
            post_data = {client_id: client_id, deadline: when};
        } else {
            when = date.utc().toISOString();
            post_data = {client_id: client_id, start: when};
        }


// couldn't quite get the api to work - wouldn\t return the ref


        // create a new booking for this client/date
        $.ajax({
            type:"post",
            url:API+"init_booking/",
            data: post_data,
            dataType : 'json',
            success:function(json){

                // reload as other values may have changed
                //load_booking(json['ref']);
                var data = tidy_data(json.booking);
                var ref =  json.booking.ref;

                populate_form(data, ref);
                // holds on click events etc.
                update_events();


                var new_event = Array();


                new_event.id = ref;
                new_event.title = data.title;
                new_event.start = moment(data.start);
                new_event.end = moment(data.end);
                new_event.allDay = allDay;
                new_event.ref = ref;
                new_event.className = "booking_status_0";


                //render the event on the calendar
                //the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                $('#calendar').fullCalendar('renderEvent', new_event, true);



            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });

    }
    function populate_form(object, eventid) {
        // eventid and object.ref are expected to be the same (were not in previous version)
        //TODO: should pass in name of div to hold form as paramter - currently hard coded to #booking_edit

        // create new form in div
        $("#booking_edit").html(object.template);

        // save event id from calendar and ref of object
        // update: these are now the same eventid==ref
        $("#editform")
                .attr("data-eventid", eventid )
                .attr("data-eventref", object.ref );

        // add classes
        $("#booking_edit").attr("class", 'panel-body booking_status_'+object.status);

        if (object.editable) {


            // add ref to all editable fields and buttons
            // not working so put in template instead
            {#            $('.editable').data('pk', object.ref);#}
            {#            $("#booking_edit button").each(function() {#}
            {#                $(this).data('pk', object.ref);#}
            {#            });#}


            // now put data into "fields" or ? if no data
            $("#modal_label").text("Add Booking for " + object.client.name);

            $("#field_client_name").text(object.client.name);
            $("#field_deadline_date").text(moment(object.deadline).format("dddd D MMM"));

            $("#field_activity").text(object.activity.name_verb);
            $("#field_activity_name").text(object.activity.name);
            $("#field_activity").attr("data-value", String(object.activity.id));

            if (object.instrument != null) {
                $("#field_instrument").text(object.instrument.name);
                $("#field_instrument").attr("data-value", String(object.instrument.id));
            } else {
                $("#field_instrument").text("?");
            }

            if (object.studio != null) {
                $("#field_studio").text(object.studio.name);
                $("#field_studio").attr("data-value", String(object.studio.id));
            } else {
                $("#field_studio").text("?");
            }

            if (object.client_ref != null) {
                $("#field_client_ref").text(object.client_ref);
                $("#field_client_ref").attr("data-value", String(object.client_ref));
            } else {
                $("#field_client_ref").text("?");
            }

            // the line belows turns .uct property from true to false!!!!!
            // var deadline = object.deadline;

            var dline = object.deadline;
            if (dline.isValid() && (dline.hour() > 0 || dline.minute() > 0)) {
                // output as local time here
                $("#field_deadline_time").text(dline.local().format("HH:mm"));
                // store as utc
                $("#field_deadline_time").attr("data-value", dline.toISOString());
            } else {
                $("#field_deadline_time").text("?");
            }


            var requested = object.requested_from;

            if (requested.isValid() && (requested.hour() > 0 || requested.minute() > 0)) {
                // convert as local time here
                $("#field_requested_time").text(requested.local().format("HH:mm"));
                //store as utc
                $("#field_requested_time").attr("data-value", requested.toISOString());
            } else {
                $("#field_requested_time").text("?");
            }

            if (object.booker != null) {
                $("#field_booker").text(object.booker.full_name);
                $("#field_booker").attr("data-value", String(object.booker.id));
            } else {
                $("#field_booker").text("?");
            }
            if (object.tuner != null) {
                $("#field_tuner").text(object.tuner.full_name);
                $("#field_tuner").attr("data-value", String(object.tuner.id));
            } else {
                $("#field_tuner").text("?");
            }


            if (object.price != null) {
                $("#field_price").text(object.price);
                $("#field_price").attr("data-value", String(object.price));
            } else {
                $("#field_price").text("?");
            }

            $("#field_duration").text(object.duration.toFixed(2));
            $("#field_duration").attr("data-value", String(object.duration));

            // can only update bookings with status < complete

            // load lists of instruments, activities etc. to be used for editable fields
            load_data(object.client.id, "{{ NOW|date:"d/m/Y" }}", "{{ MAX_DATE|date:"d/m/Y" }}");

        } else {
            $("#editform").html(object.description);
        }

        // decide which buttons to show
        $("#booking_edit button").each(function() {
            $(this).hide();

            // show/hide buttons based on user type and status which are data attributes on buttons

            if ($(this).data('showUser').indexOf(USER_TYPE) > -1) {
                if ($(this).data('showStatus').indexOf(object.status) > -1) {
                    $(this).show();
                }
            }
        });

        // now show the booking
        $("#booking_row").slideDown();

        // enable onclicks
        $("#editable_save").on("click", function() {
            // mark booking as created
            $.ajax({
                type:"post",
                url:API+"make_booking/",
                data: {pk: object.ref, value:"{{ request.user.id }}"},
                dataType : 'json',
                success:function(json){

                    var data = tidy_data(json.booking);

                    close_form();
                    redraw_event(object.ref, data);


                }
            });

        });
        $("#editable_done").on("click", function() {
            // nothing to do as everything saved already

            close_form();

        });

        {#        // .complete_booking in tuning_updates not being triggered so doing it from here#}
        {#        $("#editable_complete").on("click", function() {#}
        {#            // mark booking as complete#}
        {##}
        {#            $.ajax({#}
        {#                type:"post",#}
        {#                url:API+"bookings_to_complete/",#}
        {#                data: {ref: object.ref,  value:"{{ request.user.id }}"},#}
        {#                dataType : 'json',#}
        {#                success:function(json){#}
        {#                    //TOOD: work out how to return updated object so can pass into close_form#}
        {#                    close_form();#}
        {##}
        {##}
        {#                }#}
        {#            });#}
        {##}
        {#        });#}

        $("#editable_cancel").on("click", function() {

            var msg = "Are you sure you want to cancel this booking?";

            if (parseInt(object.status) == 0) {
                msg = "Are you sure you don't want to save this booking? "
            }
            if (window.confirm(msg)) {

                $.ajax({
                    type:"post",
                    url:API+"delete_booking/",
                    data: {pk: object.ref, value:"{{ request.user.id }}"},
                    dataType : 'json',
                    success:function(json){

                        close_form();
                        remove_event(object.ref);


                    }
                });
            }

        });

    }



    </script>

{%  endblock %}

