{% extends "base.html" %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}js/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>


    <style>
        .fc-header-title h2 {
            font-size: 90%;
        }
    </style>
{% endblock extra_head %}
{% block main %}

    <!--mini statistics start-->
    <div class="row">
        <div class="col-md-3">
            <div class="mini-stat clearfix">
                <span class="mini-stat-icon booking_status_1"><i class="fa booking_status_1_icon"></i></span>
                <div class="mini-stat-info">
                    <span>{{ num_requested }}</span>
                    New Booking Requests
                    <ul class="tasks-bar">

                        {%  for item in list_requested %}
                            <li >
                                <a href="{{item.get_absolute_url}}">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>{{ item.ref }}</h5>
                                            <span class="notification-pie-chart pull-right" data-percent="{{ item.sla_assign_tuner_pct }}">
                            <span class="percent"></span>
                            </span>
                                            <p>{{ item.when|timeuntil }}<br />
                                                {{ item.description|safe }}</p>
                                        </div>

                                    </div>
                                </a>
                            </li>

                        {% endfor %}
                        <li class="external">
                            <a href="{%  url "assign_tuner" %}">See All Unassigned Tunings</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mini-stat clearfix">
                <span class="mini-stat-icon booking_status_3"><i class="fa booking_status_3_icon"></i></span>
                <div class="mini-stat-info">
                    <span>{{ num_current }}</span>
                    Pending Bookings
                    <ul class="tasks-bar">
                        {%  for item in list_current %}
                            <li >
                                <a href="{{item.get_absolute_url}}">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>{{ item.ref }}</h5>
                                            <p>{{ item.when|timeuntil }}<br />
                                                {{ item.description|safe }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {%  endfor %}
                        {% if num_current > 5 %}
                            <li>
                                <a href="{%  url "to_completed" %}">See All Pending Bookings</a>
                            </li>
                            </ul>
                        {% endif %}

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mini-stat clearfix">
                <span class="mini-stat-icon booking_status_4"><i class="fa booking_status_4_icon"></i></span>
                <div class="mini-stat-info">
                    <span>{{ num_to_complete }}</span>
                    Incomplete Tunings
                    <ul class="tasks-bar">
                        {%  for item in list_to_complete %}
                            <li >
                                <a href="{{item.get_absolute_url}}">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>{{ item.ref }}</h5>
                                            <p>{{ item.when|timesince }}<br />
                                                {{ item.description|safe }}</p>
                                        </div>

                                    </div>
                                </a>
                            </li>
                        {%  endfor %}

                        {% if num_to_complete > 5 %}
                            <li>
                                <a href="{%  url "to_completed" %}">See All Incomplete Tunings</a>
                            </li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mini-stat clearfix">
                <span class="mini-stat-icon booking_status_5"><i class="fa booking_status_5_icon"></i></span>
                <div class="mini-stat-info">
                    <span>{{ num_complete }}</span>
                    Unpaid Tunings
                    <ul class="tasks-bar">

                        {%  for item in list_complete %}
                           <li >
                                <a href="{{item.get_absolute_url}}">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>{{ item.ref }}</h5>
                                            <p>{{ item.description|safe }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {%  endfor %}

                        <li>
                            <a href="{%  url "to_paid" %}">See All Unpaid Tunings</a>
                        </li>
                    </ul>
                    </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--mini statistics end-->



{% endblock main %}