{% extends "base.html" %}

{% block extra_head %}


    <style>
        .fc-header-title h2 {
            font-size: 90%;
        }
    .btn {margin: 5px;}
    </style>
{% endblock extra_head %}
{% block main %}

    <div class="row">

          <div class="col-md-6">
            <!--todolist start-->
            <section class="panel">
                <header class="panel-heading">
                    Celery/RabbitMQ <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
                </header>
                <div class="panel-body">
                    <a href="/ping/" class="btn btn-primary">Ping Celery</a>
                    <a href="/check_bookings/" class="btn btn-primary">Check Bookings</a>

                    <a href="{{ CELERY_MONITOR_URL }}" class="btn btn-primary">Celery Monitor</a>
                    <a href="{{ RABBITMQ_MONITOR_URL }}" class="btn btn-primary">RabbitMq Monitor</a>
                    <a href="/admin/django_logtail/log/" class="btn btn-primary">Log Files</a>
                    <a href="/test_email/" class="btn btn-primary">Send test emails</a>
                    <a href="/test_sms/" class="btn btn-primary">Send test sms</a>
                    <a href="/sync_twilio_numbers/" class="btn btn-primary">Sync Twilio Numbers</a>
                    <hr />
                    <h5>Starting Celery Manually</h5>
                    <code>
sh -x /etc/init.d/celeryd start<br />
sh -x /etc/init.d/celerybeat start<br />
celery flower<br />
                    </code>
                </div>
            </section>
        </div>


        <div class="col-md-6">

            <!--notification start-->
            <section class="panel">
                <header class="panel-heading">
                    Last Logins <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table">
                        <thead>
                        <tr>
                            <th> username</th>
                            <th>Last Activity</th>
                        </tr>
                        </thead>
                        <tbody>

                        {%  for item in users %}
                            <tr>
                                <td>{{ item.username }}</td>
                                <td>{{ item.last_activity|timesince }}</td>
                            </tr>

                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </section>
            <!--notification end-->
        </div>



    </div>

{% endblock %}