{% extends "easy_pdf/base.html" %}

{% block layout_style %}
    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 2.5cm;
            margin-right: 2.5cm;
            margin-top: 8.5cm;
            margin-bottom: 2cm;

            @frame header {
        -pdf-frame-content: page-header;
            margin-top: 1.3cm;
            margin-right: 2mm;
            margin-bottom: 1cm;
            margin-left: 1.2cm;
        }
        }
    </style>
{% endblock %}

{% block extra_style %}
    <style type="text/css">
        @font-face { font-family: Cardo; src: url(/shared_static/fonts/Cardo-Bold.ttf); font-weight: bold; }
        @font-face { font-family: Cardo; src: url(/shared_static/fonts/Cardo-Regular.ttf); }

        html {
            font-family: 'Cardo', serif;
            color: #333333;
        }

        p {
            margin: 0 0 6px 0;
            font-size: 11pt;

        }

        .item_name {
            width: 70%;
            padding-right: 20px;
        }
        .amount {
            width: 30%;
            text-align: right;
        }
        #invoice_detail table{
            line-height: 140%;
            margin-bottom: 20px;
        }
        #invoice_detail  table.bordered {
            border-top: 0.1pt solid #999999;
            border-bottom: 0.1pt solid #999999;
        }

        tr, td, th { border: none; }

        th {

            border-bottom: 0.1pt solid #999999;
            padding: 3px 0;
            line-height: 1;
            font-weight: bold;
        }

        td {

            vertical-align: top;
            padding: 3px 0;
        }

        td:last-child { padding-bottom: 0; }

        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .text-center { text-align: center; }


    </style>
{% endblock %}

{%block page_header%}
    <div id="page-header">
        <div class="header text-center">
            <h1>Thornhill Music Limited</h1>
            <p>
                42 Whittlesford Road<br />
                Newton,<br />
                Cambridgeshire<br />
                CB22 7PH<br />
                Tel & Fax: 020-7275 0888<br />
                Mobile: 07973-843189<br />
                e-mail: alexanderskeaping@mac.com
            </p>


        </div>

    </div>
{% endblock %}

{% block content %}
    <div id="content">

      <table><tr>
            <td class="text-left">
                <p>{{ booking.client.name }}</p>
                <p>{{ booking.client.address }}</p>
                <p>{{ booking.booker }}</p>
            </td>

            <td class="text-right">
                <p>Invoice Date: {{ booking.completed_at|date:"DATE_FORMAT" }}</p>
                <p>Invoice Ref: {{ booking.ref }}</p>
            </td>
        </tr></table>


        <p>Actvitiy:{{ booking.activity.name_verb_past }} {{ booking.instrument }}</p>
        <p>Location: {{ booking.studio }}</p>
        <p>Tuner: {{ booking.tuner }}</p>


        <p class="info">

        </p>

        <div class="main">
            <h2>To: Provision of the following services:</h2>


            <table id="invoice_detail" class="bordered bottom-20">
                <tr>
                    <td class="item-name">{{ booking.description }} </td>
                    <td class="amount">{{ booking.price }}</td>
                </tr>
                <tr>
                    <td class="item-name">VAT</td>
                    <td class="amount">{{ booking.vat }}</td>
                </tr>
                 <tr>
                    <td class="item-name">Total</td>
                    <td class="amount">{{ booking.total }}</td>
                </tr>
            </table>



            <h2> With compliments</h2>



<p>Terms: nett 30 days</p>

<p>Internet Banking Details: Barclays Bank PLC Sort Code: 20-29-90 a/c no: 43018393</p>




{% endblock %}

 {%block page_foot%}
            <table><tr>
                <td class="text-left">
                    Thornhill Music Limited: Registered in London No 1933176 <br />
                    Registered Office 8 – 10 South Street Epsom Surrey KT18 7PF
                </td>
                <td class="text-right">
                    Directors: A. J. Skeaping, F. M. Skeaping<br />
                    VAT Registration No: 438 8018 34
                </td>
            </tr></table>

{% endblock %}